section.connect#connect: .container
  h2 Connect Anytime
  //- p I help user-focused product design teams execute on big ideas&mdash;from product prototyping and user interface design to following through with the front-end engineering that powers the experience. I would love to chat about how we can collaborate together.
  p I have a passion for learning what makes people tick and building custom tailored software to meet their needs. I would love to chat about how I can collaborate with your team.
  //- p I would love to chat about what makes your users tick and how I can collaborate with your team. 
  a(href="mailto:studio@andrew.mn").btn Studio@Andrew.mn
  .social
    a(href="https://twitter.com/AndrwM", target="_blank").ss-twitter: span Twitter
    //- a(href="#").ss-dribbble: span Dribbble
    a(href="https://www.linkedin.com/in/andrewmcintee", target="_blank").ss-linkedin: span LinkedIn
    a(href="http://behance.net/andrewmcintee", target="_blank").ss-behance: span Behance
    a(href="https://github.com/AndrwM/", target="_blank").ss-github: span Github
    //- a(href="http://www.rdio.com/people/andrwm/", target="_blank").ss-rdio: span Rdio
    //- a(href="https://www.linkedin.com/in/andrewmcintee", target="_blank").ss-instagram: span Instagram