section.connect#connect: .container
  h1 Connect Anytime
  p I help user-focused product design teams execute on ideas through the design process – from user interface prototyping, design, and implementation into code. I’d love to chat about how I can collaborate with your team.
  a(href="#").btn Studio@Andrew.mn

section.social: .container
  a(href="https://twitter.com/AndrwM").ss-twitter: span Twitter
  //- a(href="#").ss-dribbble: span Dribbble
  a(href="#").ss-github: span Github
  a(href="#").ss-rdio: span Rdio
  a(href="#").ss-instagram: span Instagram