.wrapper.wrapper--footer.wrapper--slim: .container: .grid
  div(class="grid__cell 2/4--lap-and-up")
    p.paragraph Thanks for dropping by. Contact me by email at <a class="link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a>.
