footer
  section.copyright: .container
    .right This site is typeset in 
      a(href="https://www.dardenstudio.com/typefaces/freight_sans", target="_blank") Freight Sans
      |  &amp; 
      a(href="http://metaserif.com", target="_blank")  FF Meta Serif
      |  with 
      a(href="http://www.zachsuggs.com", target="_blank") photography by Zach Suggs.
      //- a(href="#colophon") This would n ot have been possible without...
    .left &copy; Andrew McIntee 2015. &mdash; 
      a(href="/thanks") Many thanks to&#8230;

  section.colophon#colophon: .container
    h3 This would not have been possible without...
    p Lorem ipsum