footer

  section.connect#connect: .container
    h1 Connect Anytime
    p.center I'm available for select consulting engagements at this time.
    a(href="#").btn Contact Me Via Electronic Mail

  section.social: .container
    a(href="#").ss-twitter: span Twitter
    a(href="#").ss-dribbble: span Dribbble
    a(href="#").ss-github: span Github
    a(href="#").ss-rdio: span Rdio
    a(href="#").ss-instagram: span Instagram

  section.copyright: .container
    .left Copyright Andrew McIntee 2015.
    .right This site is typeset in 
      a(href="https://www.dardenstudio.com/typefaces/freight_text", target="_blank") Freight Sans
      |  &amp; 
      a(href="http://metaserif.com", target="_blank")  FF Meta Serif
      |  with 
      a(href="http://www.zachsuggs.com", target="_blank") photography by Zach Suggs.
      //- a(href="#colophon") This would n ot have been possible without...

  section.colophon#colophon: .container
    h3 This would not have been possible without...
    p Lorem ipsum