

doctype html
html(lang="en")
  head
    title="Andrew McIntee Is A User Interface Designer"
    meta(name='description', content='Multi-disciplinarian user interface designer and front-end web engineer – I specialize in honing big visions into human-friendly digital products.')
    meta(name='descriptions', content='design, designer, ui designer, ui, ux designer, greenville, south carolina, web, engineer, freelance, consulting, front end, front-end, coder, developer, product design, ios')

    //--

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/assets/images/favicon-v2.ico")

    //--

    link(rel="stylesheet" href="/assets/stylesheets/main.css")

    //--
    
    // bower:js
    // endbower

    script(type="text/javascript" src="/assets/scripts/main.js")

    //--

    script(type="text/javascript" src="//use.typekit.net/qfv8roj.js")
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
