doctype html
html(lang="en")
  head

    if pageTitle == null
      - var pageTitle = 'Andrew McIntee Is A User Interface Designer';

    title=pageTitle
    meta(name='description', content='A UI designer and front-end engineer living in Atlanta')
    meta(name='descriptions', content='design, designer, ui designer, ui, ux designer, greenville, south carolina, web, engineer, freelance, consulting, front end, front-end, coder, developer, product design, ios')

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/assets/images/favicon.ico")

    link(rel="stylesheet" href="/assets/stylesheets/main.css")
    script(type="text/javascript" src="//use.typekit.net/qfv8roj.js")
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}

