

nav
	a.brand(href="/").animsition-link
		img(src="/assets/images/brand-projectnav2.png")
	a.link.back(href="/").animsition-link
		img(src="/assets/images/icon-back.svg")
	a.link.connect(href="#connect").js-scroll-to
		img(src="/assets/images/icon-connect.svg")