- var breadcrumb =  [{ name: 'Featured Work', path: 'work', active: false},{ name: 'Arkiver Life Journal', path: 'arkiver', active: true}];
- var pageTitle = 'Arkiver Life Journal';

include /includes/_head

body
  style.
    .c-page { background: #faf9f7; }
    .c-navigation { background: transparent linear-gradient(to left, #f39a26 0%, #ffa73b 100%); }
    .c-link[href]:hover { color: #f39a26; }
    .c-link[href]:hover::before { background: #f39a26; }
    .c-wrapper--header { background: #232325 radial-gradient(#4d5256 0%, #232325 100%); }
    .c-title--large, .c-title--medium { color: #f39a26; }
  include /includes/about/_navigation
  .c-page.c-page--has-footer
    header.c-wrapper.c-wrapper--header.u-padding-bottom-none: .c-container.c-container--centered.u-animate-in
      h1.c-title.c-title--xlarge(style="color: #ffffff;") Arkiver Life Journal
      h2.c-title.c-title--medium UI Design
      h3.c-title.c-title--label.u-margin-bottom-large(style="color: #ffffff;") Agency: National International, 2014
      img(src='/assets/images/projects/arkiver/hero.png', style="max-width: 1100px; margin: 0 auto;")
    section.c-wrapper: .c-container
      h2.c-title.c-title--large Take Back Control of Your Digital Moments
      p.c-paragraph The founders of Arkiver first approached me to provide creative direction and user interface mockups to iterate on their existing user interface. The app was simple in concept. Give users storage for all their internet content (moments) scattered across various social media sites. My job was to prototype how one of these moments would operate across all screen sizes—providing a consistent experience with any device.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src='/assets/images/projects/arkiver/feature-moment-full.jpg')
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Desktop / Full-Size
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium Featured, a moment in its regular state and edit state along with a prototype of the collapsable, left navigation.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src='/assets/images/projects/arkiver/feature-moment-slim.jpg')
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Tablet
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium This is the moment view with its metadata stacked vertically for design for portrait tablets.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src='/assets/images/projects/arkiver/feature-moment-mobile.jpg')
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Mobile
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium The flow for viewing and editing a moment on mobile devices. The tags, people, and category edit states are relagated to an additional screen to account for the necessary larger hitspaces needed on smaller devices.

    section.c-wrapper.c-wrapper--slim: .c-container
      h2.c-title.c-title--large Other Interface Elements
      p.c-paragraph Throughout our engagement I consulted with Arkiver to prototype more interaction-heavy views for their app. These include login, bulk editing, moment sharing, and user onboarding. This is a selection of a few of the final protypes.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src='/assets/images/projects/arkiver/feature-listing.jpg')
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Sorting &amp; Bulk Editing
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium Filtering, sorting, and bulk editing moments is intended to be a desktop-only feature. These mockups showcase a flow for the filtering and bulk editing moments.

    section.c-wrapper: .c-container
      h2.c-title.c-title--large Project Summary
      p.c-paragraph The Arkiver founders were thrilled with my work and since our first engagement we maintain a regular user interface design consulting relationship for prototyping new features and finessing current application interactions.
      blockquote.c-box.u-padding-bottom.u-margin-top-large(class="3/8--lap")
        .c-paragraph.c-paragraph--quote I highly recommend Andrew to others needing top quality design work done. Andrew was able to incorporate a powerful set of features in a beautiful and simple user experience. He is open to alternative ways of approaching design problems which is not always a quality found in other designers. As well as being very talented, Andrew is very personable which is why I continue to use him for projects as they arise.
        footer.c-citation
          img(src='/assets/images/projects/arkiver/logan.jpg').c-citation--photo
          .c-citation--author Logan Metcalfe, CEO

  div(style="position: fixed; bottom: 0; right: 0; left: 0; z-index: -1;")
    include /includes/about/_footer

  include /includes/_closing-scripts
