
- var headerColor = "#203E58";
- var subHeaderColor = "#203E58";
- var endorsementColor = "#2481b7 url(/assets/images/projects/zenjuries/hero-bg.jpg)";
- var headerTitle = "Zenjuries Employee Injury Managment Platform";

include ../../includes/_head

style.
  body > .wrapper-page { background:#fcfdfd; }
  header { color:#2481b7; }
  h1 { color: #fff; }
  h2,h3 { color: #2481b7; }
  p a:hover {  border-bottom-color: #2481b7; }

body
  .wrapper-page.project.project-echo.animsition
    include ../../includes/_nav

    header(style="background:#{headerColor}; padding-bottom:160px;")
      h1 Zenjuries Employee Injury Managment Platform 
      p.center SAAS Platform Assisting Businesses In Effectively Managing On-The-Job Injuries.

    section.image.full(style="background:#{subHeaderColor};background-size:cover;"): img(src='/assets/images/projects/zenjuries/hero.png',style="margin-top: -90px;")

    //- --------------------------------------------------
    
    section.copy.container
      h2 Workmans Comp Inury Costs Double With Delays
      p When Jesse first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested. The problem? A majority of workmans comp lawsuits had everything to do with unclear policies, slow communication, and missing accountability. Our goal was twofold, to build a platform to quickly and comprehensively alert the necessary parties when a on-the-job injury had occurred and provide a repository to save and  securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.

    //- section.image.full: img(src='/assets/images/projects/echo/existing-branding.png')

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/feature-wireframes.jpg')
      .description
        h3 Prototyping
        p These are the resulting wireframes after weeks of iterations and insurance industry interviews. The application interface would be informed by these prototypes.
   
    //- --------------------------------------------------
    
    section.copy.container
      h2 Developing A Brand Styleguide
      p With the skeleton of the application interface in place, I began work on the styleguide that would inform the brand direction. The only existing brand materials the client had was the "Z" logo.

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/feature-styleguide.jpg')
      .description
        h3 Styleguide Prototype
        p While some elements changed slightly as the project progressed, this was the starting piont from where I began designing the high-fidelity mockups.

    //- --------------------------------------------------

    section.copy.container
      h2 High Fidelity Mockups &amp; Interactive State Prototypes
      p Following the approval of the styleguide, I went right to work fleshing out the interface mockups in high-fidelity with various interactive states to ensure I didn't paint myself into a corner when it came time to build the interface in code.

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/prototype-login.jpg')
      .description
        h3 Login States
        p One of the application requirements was the ability for users to be assigned to multiple companies, this was addressed in the login process and the following dashboard sidebar switcher.

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-dashboard.jpg')
        .description
          h3 Application Dashboard
          p Immediately after logging in the user is presented with a comprehensive dashboard that asses their response times and provides an overview of the current status of all injuries assigned to them for action.
          
     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-listing.jpg')
        .description
          h3 All Injuries
          p Due to the small screen sizes I needed to design for, I opted to use a right drawer to hide and show filtering options when needed.

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-submit.jpg')
        .description
          h3 Report An Injury
          p This immediately accessable modal from the header collects urgent need-to-know information to inform stakeholders and open up a new injury within the system.
          
     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-injury.jpg')
        .description
          h3 Injury History
          p This screen is the heart of the application. A comprehensive view of all actions that had taken place and an easily viewable summary of the current status.

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/prototype-feed.jpg')
        .description
          h3 Inury Feed States
          p Interactive states for each type of feed message and the varies states of the injury update box on the injury history page.

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-account.jpg')
        .description
          h3 Default Page
          p Default settings page populated with user account.

     section.copy.container
        p Interested in hearing more about my process? <a href="/#connect">Let's connect!</a>

    section.endorsement(style="background:#{endorsementColor};background-size:cover;"): .container: blockquote
      p On time and under budget is music to my ears! I'm thrilled with Zenjuries user interface design.
      cite
        | Jesse Dantice
        span CEO, Zenjuries

    //- section.lockup(style="background:#{subHeaderColor};"): .container
    //-   img(src='http://placekitten.com/g/600/400').feature.large
    //-   img(src='http://placekitten.com/g/600/400').feature.small
    //-   img(src='http://placekitten.com/g/600/400').feature.hero
    //-   img(src='http://placekitten.com/g/600/400').feature.medium
    //-   img(src='http://placekitten.com/g/600/400').feature.medium
 
    include ../../includes/project/_project-footer
    include ../../includes/_footer

  include ../../includes/_closing-scripts