
- var headerColor = "";
- var subHeaderColor = "#2481b7 url(/assets/images/projects/zenjuries/hero-bg.jpg)";
- var endorsementColor = "#2481b7 url(/assets/images/projects/zenjuries/hero-bg.jpg)";
- var headerTitle = "Zenjuries Employee Injury Managment Platform";

include ../../includes/_head

style.
  body > .wrapper-page { background:#fcfdfd; }
  h1,h2,h3 { color: #2481b7; }

body
  .wrapper-page.project.project-echo
    include ../../includes/project/_project-nav

    header(style="background:#{headerColor}; padding-bottom:170px;")
      h1 Zenjuries Employee Injury Managment Platform 
      p.center SAAS Platform Assisting Businesses In Effectively Managing On-The-Job Injuries.

    section.image.full(style="background:#{subHeaderColor};background-size:cover;"): img(src='/assets/images/projects/zenjuries/hero.png',style="margin-top: -90px;")

    //- --------------------------------------------------
    
    section.copy.container
      h2 Project problem
      p For over 60 years Echo has been a leader in the commercial and home power and outdoor tool market. I was thrilled to be selected to lead the web branding and interactive development initiative for a groundbreaking new line of high-powered 58-volt outdoor tools. Throughout the project, I worked closely with Echo, their exclusive retailer The Home Depot, and the manufacturing partner TTI North America. There were multiple brand and marketing stakeholders that presented challenging constraints with regard to placement and size of existing brand logo marks. I worked with the existing Echo brand assets below.

    //- section.image.full: img(src='/assets/images/projects/echo/existing-branding.png')

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/feature-wireframes.jpg')
      .description
        h3 Wireframes
        p In addition the to the brand assets, these are samples of the existing packaging and web marketing assets.
   
    //- --------------------------------------------------
    
    section.copy.container
      h2 Styleguide Phase
      p This project ran at a drop-dead sprint because it was imperative that the online marketing materials launch simultaneously with the retail product rollout. Midnight oil was burned and we were able to launch the site two weeks early to allow for additional bugtesting before the product became publically available.

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/feature-styleguide.jpg')
      .description
        h3 Homepage
        p The homepage serves as a directory for accessing all tools as well as promoting the product brand.

    //- --------------------------------------------------

    section.copy.container
      h2 High Fidelity Mockups
      p This project ran at a drop-dead sprint because it was imperative that the online marketing materials launch simultaneously with the retail product rollout. Midnight oil was burned and we were able to launch the site two weeks early to allow for additional bugtesting before the product became publically available.

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/prototype-login.jpg')
      .description
        h3 Account
        p tba

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-dashboard.jpg')
        .description
          h3 Dashoard
          p tba
          
     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-listing.jpg')
        .description
          h3 Injury Listing
          p tba
          
     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-injury.jpg')
        .description
          h3 Injury Scrolled
          p tba

     //- section.feature.left: .container
     //-    img(src='/assets/images/projects/zenjuries/mock-injuryscrolled.jpg')
     //-    .description
     //-      h3 Injury Scrolled
     //-      p tba

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-submit.jpg')
        .description
          h3 Submit
          p tba

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-account.jpg')
        .description
          h3 Account
          p tba

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/prototype-feed.jpg')
        .description
          h3 Account
          p tba

    section.copy.container
      h2 Resolution
      p This project ran at a drop-dead sprint because it was imperative that the online marketing materials launch simultaneously with the retail product rollout. Midnight oil was burned and we were able to launch the site two weeks early to allow for additional bugtesting before the product became publically available.
   
    section.endorsement(style="background:#{endorsementColor};background-size:cover;"): .container: blockquote
      p On time and under budget is music to my ears! I'm thrilled with the Zenjuries interface.
      cite Jesse Dantice
        span CEO, Zenjuries

    //- section.lockup(style="background:#{subHeaderColor};"): .container
    //-   img(src='http://placekitten.com/g/600/400').feature.large
    //-   img(src='http://placekitten.com/g/600/400').feature.small
    //-   img(src='http://placekitten.com/g/600/400').feature.hero
    //-   img(src='http://placekitten.com/g/600/400').feature.medium
    //-   img(src='http://placekitten.com/g/600/400').feature.medium
 
    include ../../includes/project/_project-footer
    include ../../includes/_footer

  include ../../includes/_closing-scripts