
- var pageTitle = 'Zenjuries: Application User Interface Design | Andrew McIntee';

- var headerColor = "#203E58";
- var subHeaderColor = "#203E58";
- var endorsementColor = "#2481b7 url(/assets/images/projects/zenjuries/hero-bg.jpg)";
- var headerTitle = "Zenjuries Employee Injury Managment Platform";

include ../../includes/_head

style.
  body > .wrapper-page { background:#F3F5F7; }
  header { color:#2481b7; }
  h1 { color: #fff; }
  h2,h3 { color: #2481b7; }
  p a:hover {  border-bottom-color: #2481b7; }
  blockquote p:after, blockquote p:before, blockquote cite { color:#2481b7; }

body
  .wrapper-page.project.project-echo
    include ../../includes/_nav

    header(style="background:#{headerColor}; padding-bottom:160px;")
      h1 Zenjuries Employee Injury Management Platform 
      p.center SAAS Platform Assisting Businesses in Effectively Managing On-the-Job Injuries

    section.image.full(style="background:#{subHeaderColor};background-size:cover; margin-bottom:0;"): img(src='/assets/images/projects/zenjuries/hero.png',style="margin-top: -90px;")

    //- --------------------------------------------------

    section.quote: .container: blockquote
      p.large On time and under budget is music to my ears! I'm thrilled with the Zenjuries user interface design.
      cite
        img(src="/assets/images/projects/zenjuries/jesse.jpg")
        | Jesse Dantice
        span CEO, Zenjuries
    
    section.copy.container
      h2 On-the-Job Injuries Cost Double with Delays
      p When Jesse first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested. The problem? A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability.
      p Our goal was twofold, build a platform to quickly and comprehensively alert the necessary parties when an on-the-job injury had occurred and provide a repository to save and securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.

    //- section.image.full: img(src='/assets/images/projects/echo/existing-branding.png')

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/feature-wireframes.jpg')
      .description
        h3 Prototyping
        p These are the resulting wireframes after weeks of iterations and insurance industry interviews. The application interface was built from these prototypes.
   
    //- --------------------------------------------------
    
    section.copy.container
      h2 Developing a Brand Styleguide
      p With the skeleton of the application interface in place, I began work on the styleguide that would define the brand direction. The only existing brand materials the client had was the "Z" logo.

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/feature-styleguide.jpg')
      .description
        h3 Styleguide Prototype
        p While some elements changed slightly as the project progressed, this was the starting point for designing high-fidelity mockups.

    //- --------------------------------------------------

    section.copy.container
      h2 High-Fidelity Mockups &amp; Interactive State Prototypes
      p Following the approval of the styleguide, I went right to work fleshing out the interface mockups in high-fidelity with various interactive states to ensure I did not paint myself into a corner when it came time to build the interface in code.

    section.feature.left: .container
      img(src='/assets/images/projects/zenjuries/prototype-login.jpg')
      .description
        h3 Login States
        p One of the application requirements was the ability for users to be assigned to multiple companies. This was addressed in the login process and in the sidebar navigation.

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-dashboard.jpg')
        .description
          h3 Application Dashboard
          p After logging in the user is presented with a comprehensive dashboard. This dashboard assesses their response times and provides an overview of the current status of all injuries assigned to them for action.
          
     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-listing.jpg')
        .description
          h3 All Injuries
          p Due to the small screen sizes I for which I needed to design, I opted to use a right drawer to hide and show filtering options when needed.

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-submit.jpg')
        .description
          h3 Report An Injury
          p This easily accessible modal from the header collects urgent, need-to-know information to inform stakeholders and open a new injury within the system.
          
     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-injury.jpg')
        .description
          h3 Injury History
          p This screen is the heart of the application&mdash;a comprehensive view of all actions that had taken place and an easily viewable summary of the current status.

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/prototype-feed.jpg')
        .description
          h3 Injury Feed States
          p Left: A compilation of interactive states for each type of message in the feed.
          p Right: Various states of the injury status update box.

     section.feature.left: .container
        img(src='/assets/images/projects/zenjuries/mock-account.jpg')
        .description
          h3 Default Page
          p The default settings page populated with user account.

    section.copy.container
      p Interested in hearing more about my process? <a href="#connect" class="js-scroll-to">Let's connect!</a>
      
    section.project-tiles
     .project-listing.container
        h3.intro Case Studies
        a(href="/projects/echo-cordless-tools").project.project-echo.hero.animsition-link
          .description
            h2 Echo Cordless Tools
            p Creating An Online Brand Experience For An Innovative New Line Of Cordless Outdoor Tools
          img(src="/assets/images/projects/echo/listing.png").preview

    include ../../includes/_connect
    include ../../includes/_footer

  include ../../includes/_closing-scripts