
- var headerColor = "";
- var subHeaderColor = "#2481b7 url(/assets/images/projects/zenjuries/hero-bg.jpg)";
- var endorsementColor = "#2481b7 url(/assets/images/projects/zenjuries/hero-bg.jpg)";
- var headerTitle = "Zenjuries Employee Injury Managment Platform";

include ../../includes/_head

style.
  body > .wrapper-page { background:#fcfdfd; }
  h1,h2,h3 { color: #2481b7; }

body
  .wrapper-page.project.project-other.animsition
    include ../../includes/project/_project-nav

    header(style="background:#{headerColor}; padding-bottom:170px;")
      h1 Other Projects
      p.center Select User Interface Design &amp; Marketing Through The Years
    
    section.container.masonry
      p bullshit

    include ../../includes/project/_project-footer
    include ../../includes/_footer

  include ../../includes/_closing-scripts