- var breadcrumb = [{ name: 'Resumé', path: 'resume', active: true}];
- var pageTitle = 'Resume';

include /includes/_head

body
  include /includes/about/_navigation
  .c-page
    header.c-wrapper.c-wrapper--light-blue.c-wrapper--masked.u-padding-bottom: .c-container
      h1.c-title.c-title--large Resumé
      p.c-paragraph I can plug and play as either a UI designer or front-end engineer on teams but I'm most comfortable as a hybrid of both: where I'm designing and prototyping new features and then executing to tested, production code with any necessary back-end integrations.
      p.c-paragraph.u-margin-bottom-large Check out my experience.&nbsp;<span class="c-emoji">👇</span>
      //- p.c-paragraph In my career I've alternated between user interface design and front-end engineering–using both skillsets with a relentless drive to do the best work I can with my experience. <span class="c-emoji">👇</span>
    section.c-wrapper.c-wrapper--slimmest.u-padding-top-large: .c-container
      h2.c-title.c-title--medium.u-margin-bottom-small Experience
      .c-grid
        div(class="c-grid__cell 1/6--lap")
          h3.c-title.c-title--label.u-margin-top-smallest 2015 – 2017
        div(class="c-grid__cell 5/6--lap")
          h3.c-title.c-title--small.u-margin-bottom-none The Iron Yard
          h4.c-title.c-title--smallest Senior Product Designer
          ul.c-list
            li.c-list__item Led design, development &amp; launch of The Iron Yard's new marketing site
            li.c-list__item Led specification, design, and front-end development of custom admissions software
            li.c-list__item Designed, built, and maintained modular design systems for each: online marketing site, student classroom application, and internal tooling
            li.c-list__item Conducted student user-behavior studies to test design assumptions and solve usability issues
            li.c-list__item Wrote application feature tests to ensure the stability of key user flows and UI components
            li.c-list__item Built accessibility features to support student learning disabilities
            li.c-list__item Worked remotely
    section.c-wrapper.c-wrapper--slimmest: .c-container: .c-grid
      div(class="c-grid__cell 1/6--lap")
        h3.c-title.c-title--label.u-margin-top-smallest 2012 – 2015
      div(class="c-grid__cell 5/6--lap")
        h3.c-title.c-title--small.u-margin-bottom-none National International
        h4.c-title.c-title--smallest Founder
        ul.c-list.u-margin-bottom-smallest
          li.c-list__item Planned, designed, and engineered mobile-responsive web software
          li.c-list__item Performed usability interviews and testing to define end-user needs and behavior
          li.c-list__item Leveraged extensive industry network to build a team of freelance engineers and designers
          li.c-list__item Consulted with clients to develop strategies for meeting business goals with design
        p.c-paragraph.c-paragraph--sans.c-paragraph--smallest.u-subtle Clients: Clemson University,  NFL,  The Iron Yard,  Auburn University
    section.c-wrapper.c-wrapper--slimmest: .c-container: .c-grid
      div(class="c-grid__cell 1/6--lap")
        h3.c-title.c-title--label.u-margin-top-smallest 2014 – 2015
      div(class="c-grid__cell 5/6--lap")
        h3.c-title.c-title--small.u-margin-bottom-none Torque Creative, TTI North America
        h4.c-title.c-title--smallest Interactive Designer
        ul.c-list
          li.c-list__item Led online creative direction for new Echo Cordless power tool line marketing site
          li.c-list__item Designed and engineered interactive, mobile-responsive eBlast campaigns for national brands
          p.c-paragraph.c-paragraph--sans.c-paragraph--smallest.u-subtle Clients: The Home Depot,  Echo Cordless,  Ridgid,  Ryobi Tools,  Stōk Grills
    section.c-wrapper.c-wrapper--slimmest: .c-container: .c-grid
      div(class="c-grid__cell 1/6--lap")
        h3.c-title.c-title--label.u-margin-top-smallest 2013 – 2014
      div(class="c-grid__cell 5/6--lap")
        h3.c-title.c-title--small.u-margin-bottom-none Organic
        h4.c-title.c-title--smallest Senior User Interface Developer
        ul.c-list
          li.c-list__item Led interactive development for Depend Canada brand marketing website
          li.c-list__item Led interactive development for Depend Underwearness Campaign video streaming player
          li.c-list__item Developed engaging, mobile-responsive marketing websites for national brands
          li.c-list__item Worked remotely
          p.c-paragraph.c-paragraph--sans.c-paragraph--smallest.u-subtle Clients: U By Kotex,  Depend USA,  Depend Underwearness,  Depend Canada, Huggies Pull-Ups
    section.c-wrapper.c-wrapper--slimmest: .c-container: .c-grid
      div(class="c-grid__cell 1/6--lap")
        h3.c-title.c-title--label.u-margin-top-smallest 2012 – 2014
      div(class="c-grid__cell 5/6--lap")
        h3.c-title.c-title--small.u-margin-bottom-none Waldschmidt Partners International
        h4.c-title.c-title--smallest Interactive Creative Director
        ul.c-list
          li.c-list__item Developed interactive brand styleguide and internal web development standards
          li.c-list__item Launched and manage 9 fully custom Wordpress website properties
          li.c-list__item Managed site/database migrations and vendor relationships
    section.c-wrapper.c-wrapper--slimmest: .c-container: .c-grid
      div(class="c-grid__cell 1/6--lap")
        h3.c-title.c-title--label.u-margin-top-smallest 2012
      div(class="c-grid__cell 5/6--lap")
        h3.c-title.c-title--small.u-margin-bottom-none The Iron Yard
        h4.c-title.c-title--smallest Designer In Residence (2012 Startup Accelerator)
        ul.c-list
          li.c-list__item Provided brand and user interface design services to The Iron Yard portfolio companies
    section.c-wrapper.c-wrapper--slimmest.u-padding-bottom-large: .c-container: .c-grid
      div(class="c-grid__cell 1/6--lap")
        h3.c-title.c-title--label.u-margin-top-smallest 2010 - 2011
      div(class="c-grid__cell 5/6--lap")
        h3.c-title.c-title--small.u-margin-bottom-none ER Design
        h4.c-title.c-title--smallest Marketing Designer/Web Developer
        ul.c-list
          li.c-list__item Designed and built interactive Flash websites with ActionScript 2.
          li.c-list__item Built pixel-perfect HTML/CSS website development from Photoshop documents
    section.c-wrapper.c-wrapper--slim.c-wrapper--light: .c-container
      h2.c-title.c-title--medium.u-margin-bottom-small Speaking
      .u-margin-bottom
        h3.c-title.c-title--small.u-margin-bottom-none Clemson University 2016 <span class="u-subtler">&mdash;</span> Guest Lecturer (Graphic Communications Department)
        p.c-paragraph.c-paragraph--sans.c-paragraph--small I led a crash course on Javascript basics, jQuery, and the basics of debugging code to teach the class how to create a primitive budgeting calculator.
      .u-margin-bottom
        h3.c-title.c-title--small.u-margin-bottom-none The Iron Yard 2014 &amp; 2015 <span class="u-subtler">&mdash;</span> Regular Guest Lecturer
        p.c-paragraph.c-paragraph--sans.c-paragraph--small Prior to working for The Iron Yard, I was a regular lecturer for their User Interface Design and Front-End Engineering classes in Austin,&nbsp;TX&nbsp;and Greenville, SC. I spoke on:
        ul.c-list.c-list--small
          li.c-list__item Importance Of Design Systems
          li.c-list__item Developer &amp; Designer Relations: How To Effectively Communicate
          li.c-list__item Design Asset Management &amp; Organization
      .u-margin-bottom
        h3.c-title.c-title--small.u-margin-bottom-none Clemson University 2014 <span class="u-subtler">&mdash;</span> Design Mentor (Startup Weekend Program)
        p.c-paragraph.c-paragraph--sans.c-paragraph--small.u-margin-bottom-none I taught collegiate startup companies user experience principles during my participation in the Clemson University Startup Weekend hackathon.
   section.c-wrapper.c-wrapper--slim: .c-container
      .c-grid
        div(class="c-grid__cell 2/4--lap")
          h3.c-title.c-title--small Skillsets
          p.c-paragraph.c-paragraph--sans.c-paragraph--small.u-margin-bottom-large Test driven development, UI prototyping, user-testing, responsive design and development, project planning, UI design, marketing/advertising design, email campaign development, atomic design system design, branding/brand standards documentation, developing project specification, contract writing &amp; negotiation
        div(class="c-grid__cell 1/4--lap")
          h3.c-title.c-title--small Tooling Experience
          p.c-paragraph.c-paragraph--sans.c-paragraph--small.u-margin-bottom-large React, Jest/Enzyme, Webpack, Backbone, SASS, Ruby On Rails, Git, SVN, Photoshop, Illustrator, Flash, Sketch, Wordpress, Gulp, Selenium
        div(class="c-grid__cell 1/4--lap")
          h3.c-title.c-title--small Programming Languages
          p.c-paragraph.c-paragraph--sans.c-paragraph--small.u-margin-bottom-large Javascript &amp; Ruby
            br
            | Some experience with PHP &amp; C++.
    section.c-wrapper.c-wrapper--slim.u-padding-bottom-none: .c-container
      a.c-button.c-button--arrow-r.c-button--large.u-margin-bottom(href="/about/work/#🚀") My Case Studies

  include /includes/about/_footer
  include /includes/_closing-scripts
 
