include ../../includes/_head
    
body
  .wrapper.project.project-echo
    include ../../includes/project/_project-nav

    header
      h1 Web branding of an all-new ECHO Tools venture.
      p.center Designing and executing the web branding of an all-new ECHO Tools venture.

    .image.full(style="background:red;"): img(src='http://placekitten.com/900/600')

    .copy.container
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor, ante eget luctus convallis, sem dolor placerat massa, in euismod erat lorem non massa. Proin ultricies est a cursus lacinia. In purus turpis, mollis a porttitor eu, scelerisque non ligula. Mauris vitae leo sed odio pretium aliquam. Vestibulum cursus dolor eget neque pellentesque consequat. Quisque vitae elementum felis. Praesent at mollis lectus. Etiam dapibus odio sapien, tristique mattis velit hendrerit a.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed condimentum quam. Nunc placerat odio nisl, at ultrices tortor dignissim nec. Etiam dictum ullamcorper justo, non egestas diam dapibus et. Suspendisse tempus lorem arcu, ac luctus velit dapibus ut. Vivamus orci nunc, condimentum non eros eu, pellentesque mattis mi. Praesent volutpat eros eget lacus feugiat ultricies. Nunc eu ipsum orci.

    .feature.container.left
      img(src='http://placekitten.com/g/600/600')
      .description
        h2 cool stuff here
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor, ante eget luctus convallis, sem dolor placerat massa, in euismod erat lorem non massa. Proin ultricies est a cursus lacinia. In purus turpis, mollis a porttitor eu, scelerisque non ligula. Mauris vitae leo sed odio pretium aliquam. Vestibulum cursus dolor eget neque pellentesque consequat. Quisque vitae elementum felis. Praesent at mollis lectus. Etiam dapibus odio sapien, tristique mattis velit hendrerit a.
   

 
  include ../../includes/_closing-scripts