include ../../includes/_head

- var BgColor = "#262f38";

style.
  h2,h3 { color: red; }

body
  .wrapper.project.project-echo
    include ../../includes/project/_project-nav

    header
      h1 Web branding of an all-new ECHO Tools venture.
      p.center Designing and executing the web branding of an all-new ECHO Tools venture.

    section.image.full(style="background:#{BgColor};"): img(src='http://placekitten.com/900/600')

    section.copy.container
      h2 Title here
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor, ante eget luctus convallis, sem dolor placerat massa, in euismod erat lorem non massa. Proin ultricies est a cursus lacinia. In purus turpis, mollis a porttitor eu, scelerisque non ligula. Mauris vitae leo sed odio pretium aliquam. Vestibulum cursus dolor eget neque pellentesque consequat. Quisque vitae elementum felis. Praesent at mollis lectus. Etiam dapibus odio sapien, tristique mattis velit hendrerit a.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed condimentum quam. Nunc placerat odio nisl, at ultrices tortor dignissim nec. Etiam dictum ullamcorper justo, non egestas diam dapibus et. Suspendisse tempus lorem arcu, ac luctus velit dapibus ut. Vivamus orci nunc, condimentum non eros eu, pellentesque mattis mi. Praesent volutpat eros eget lacus feugiat ultricies. Nunc eu ipsum orci.

    section.feature.left: .container
      img(src='http://placekitten.com/g/600/400')
      .description
        h3 cool stuff here
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor, ante eget luctus convallis, sem dolor placerat massa.
    section.feature.right: .container
      img(src='http://placekitten.com/g/600/400')
      .description
        h3 cool stuff here
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor, ante eget luctus convallis, sem dolor placerat massa.
   
    blockquote.container
      p We trusted Andrew to build flagship apps that help us reach developers. I'm delighted by what we were able to achieve through our collaboration.”
      cite John Doe

    section.lockup(style="background:#{BgColor};"): .container
      img(src='http://placekitten.com/g/600/400').feature.hero
      img(src='http://placekitten.com/g/600/400').feature.large
      img(src='http://placekitten.com/g/600/400').feature.small
      img(src='http://placekitten.com/g/600/400').feature.medium
      img(src='http://placekitten.com/g/600/400').feature.medium
 
  include ../../includes/_closing-scripts