- var breadcrumb = [{ name: 'Featured Work', path: 'work', active: false}, { name: 'Newline Education Platform', path: 'injury-manager', active: true}];
- var pageTitle = 'Newline Education Platform';

include /includes/_head

body
  style.
    .c-navigation { background: transparent linear-gradient(to left, #39d79f 0%, #24d2da 100%); }
    .c-link[href]:hover { color: #159fef; }
    .c-wrapper--header { background: #632ef3; }
    .c-title--large, .c-title--medium { color: #39d79f; }
  include /includes/about/_navigation
  .c-page(id="🚀").c-page--has-footer
    header.c-wrapper.c-wrapper--header.u-padding-bottom-none: .c-container.c-container--centered.u-animate-in
      h1.c-title.c-title--xlarge(style="color: #ffffff;") Newline Education Platform
      h2.c-title.c-title--medium UI Design System, Front-End Engineering, RoR Development
      h3.c-title.c-title--label.u-margin-bottom(style="color: #ffffff;") Agency: National International, 2014
      img(src="/assets/images/projects/injury-manager/hero.png", style="max-width: 900px; margin: 0 auto -80px;")

    section.c-wrapper: .c-container
      h2.c-title.c-title--large About The Project, Table Of Contents
      p.c-paragraph This serves to document my work during time at The Iron Yard during between 2015 to 2017

    section.c-wrapper.c-wrapper--light-blue: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/newline/mock-v0.png")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h2.c-title.c-title--medium.u-margin-top The Iron Yard Online, Version Zero
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium.u-margin-bottom-none When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested.

    section.c-wrapper: .c-container: .c-grid.c-grid--small
      div(class="c-grid__cell 1/2--desk")
        h2.c-title.c-title--large V1, building a hybrid classroom/online experience, talk about goals and vision shift
        p.c-paragraph When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested. The problem? A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability.
        p.c-paragraph Our goal was twofold, build a platform to quickly and comprehensively alert the necessary parties when an on-the-job injury had occurred and provide a repository to save and securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.
        p.c-paragraph Our goal was twofold, build a platform to quickly and comprehensively alert the necessary parties when an on-the-job injury had occurred and provide a repository to save and securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.
      div(class="c-grid__cell 1/2--desk")
        img(src="/assets/images/projects/newline/whiteboard.jpg" style="max-width: 670px; transform: rotate3d(-1, 1, 0, -34deg);")

      .c-carousel(js-carousel).u-margin-vertical-large
        .c-carousel__item
          img(src="/assets/images/projects/newline/wireframe-v1-1.png")
          h3.c-title.c-title--small.u-margin-top About Wireframe
          p.c-paragraph.c-paragraph--sans.c-paragraph--medium.u-margin-bottom-none When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested.
        .c-carousel__item
          img(src="/assets/images/projects/newline/wireframe-v1-2.png")
          h3.c-title.c-title--small.u-margin-top About Wireframe
          p.c-paragraph.c-paragraph--sans.c-paragraph--medium.u-margin-bottom-none When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested.
        .c-carousel__item
          img(src="/assets/images/projects/newline/wireframe-v1-3v2.png")
          h3.c-title.c-title--small.u-margin-top About Wireframe
          p.c-paragraph.c-paragraph--sans.c-paragraph--medium.u-margin-bottom-none When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested.
        .c-carousel__item
          img(src="/assets/images/projects/newline/wireframe-v1-4.png")
          h3.c-title.c-title--small.u-margin-top About Wireframe
          p.c-paragraph.c-paragraph--sans.c-paragraph--medium.u-margin-bottom-none When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested.
        .c-carousel__item
          img(src="/assets/images/projects/newline/wireframe-v1-5.png")
          h3.c-title.c-title--small.u-margin-top About Wireframe
          p.c-paragraph.c-paragraph--sans.c-paragraph--medium.u-margin-bottom-none When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested.

    section.c-wrapper.c-wrapper--full.c-wrapper(style="background: #171f23;")
      h2.c-title.c-title--large Process + Concepts Based On Wireframes
      p.c-paragraph When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested. The problem? A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability.
      p.c-paragraph.u-margin-bottom-large Our goal was twofold, build a platform to quickly and comprehensively alert the necessary parties when an on-the-job injury had occurred and provide a repository to save and securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.

      .c-carousel.c-carousel--on-dark(js-carousel)
        .c-carousel__item
          .c-browser(style="max-height: 80vh"): .c-browser--content
            img(src="/assets/images/projects/newline/mock-v1-1.png")
        .c-carousel__item
          .c-browser(style="max-height: 80vh"): .c-browser--content
            img(src="/assets/images/projects/newline/mock-v1-2.png")
        .c-carousel__item
          .c-browser(style="max-height: 80vh"): .c-browser--content
            img(src="/assets/images/projects/newline/mock-v1-3.png")
        .c-carousel__item
          .c-browser(style="max-height: 80vh"): .c-browser--content
            img(src="/assets/images/projects/newline/mock-v1-4.png")

    section.c-wrapper: .c-container
      h2.c-title.c-title--large Rebrand To Newline, Building A Design System
      p.c-paragraph When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested. The problem? A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability.
      p.c-paragraph Our goal was twofold, build a platform to quickly and comprehensively alert the necessary parties when an on-the-job injury had occurred and provide a repository to save and securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.
      p.c-paragraph NEED: BRAND + DESIGN SYSTEM + REFINISHED V1 SYSTEM


    section.c-wrapper.c-wrapper--light-blue: .c-container
      .c-carousel(js-carousel)
        .c-carousel__item(style="max-width:500px; padding-right: 80px")
          h2.c-title.c-title--large.u-margin-top-large Feature Concept, Guided Code Lessons
          p.c-paragraph.c-paragraph--sans.c-paragraph--medium When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested. The problem? A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability.
          p.c-paragraph.c-paragraph--sans.c-paragraph--medium Our goal was twofold, build a platform to quickly and comprehensively alert the necessary parties when an on-the-job injury had occurred and provide a repository to save and securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.
        .c-carousel__item
          .c-browser(style="max-height: 80vh"): .c-browser--content
            img(src="/assets/images/projects/newline/guides-start.png")
        .c-carousel__item
          .c-browser(style="max-height: 80vh"): .c-browser--content
            img(src="/assets/images/projects/newline/guides-standard.png")
        .c-carousel__item
          .c-browser(style="max-height: 80vh"): .c-browser--content
            img(src="/assets/images/projects/newline/guides-inspect.png")
        .c-carousel__item
          .c-browser(style="max-height: 80vh"): .c-browser--content
            img(src="/assets/images/projects/newline/guides-end.png")

    section.c-wrapper: .c-container
      h2.c-title.c-title--large Resolution, stats, and team pictures
      p.c-paragraph When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested. The problem? A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability.
      p.c-paragraph Our goal was twofold, build a platform to quickly and comprehensively alert the necessary parties when an on-the-job injury had occurred and provide a repository to save and securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.

  div(style="position: fixed; bottom: 0; right: 0; left: 0; z-index: -1;")
    include /includes/about/_footer

  include /includes/_closing-scripts
