- var breadcrumb = [{ name: 'Case Studies', path: 'work', active: false}, { name: 'TheIronYard.com', path: 'injury-manager', active: true}];
- var pageTitle = 'Newline Education Platform';

include /includes/_head

body
  style.
    .c-page { background: #f5f8fa; }
    .c-wrapper--header { background: #192329; overflow: hidden; }
    .c-title--large, .c-title--medium { color: #4ec4cf; }
  include /includes/about/_navigation
  .c-page.c-page--has-footer.u-padding-bottom-large
    header.c-wrapper.c-wrapper--header(data-midnight="on-dark")
      video(class="c-wrapper__video-background", preload="none", autoplay="", muted="", loop="")
        source(src="/assets/images/projects/the-iron-yard/homepage-v1.mp4", type="video/mp4")
      .c-container.c-container--centered(style="position: relative;").u-animate-in
        h1.c-title.c-title--xlarge(style="color: #ffffff;") TheIronYard.com
        h2.c-title.c-title--small(style="color: #485671;") Marketing Design, UI Design System, Front-End Engineering

    section.c-wrapper.u-padding-bottom: .c-container
      h2.c-title.c-title--large A New Mini-Site for an Innovative, New Product Line
      p.c-paragraph At The Iron Yard my primary assignment  was as a designer and UI engineer on the Product team. The team responsible for building the company's learning management platform. But when the Marketing team came knocking and said they were planning to rebuild the marketing site from the the ground up, I was excited to dig in with for 6 months and lead the creation and engineering of the design system for the site.
      p.c-paragraph A major pain-point of the previous marketing site was its never-ending technical debt. There was still legacy code from when the company consisted of the 3 original founders. As with any quickly growing company, the needs of the site had been rapidly changing for years. The codebase had been converted to Jekyl, Wordpress, Ruby On Rails, Adobe Experience Manager, and back to Rails again all the while shifting to accommodate new goals. The technical debt had grown to an unmanageable level and it showed: unpredictable behavior, leaky page memory, and inconsistent styles everywhere.
      p.c-paragraph Borrowing from the experience that I had gained building Newline, I had a handle on how to build the new site. The site's structure used the ITCSS front -end structuring system championed by <a class="c-link" href="https://medium.com/git-out-the-vote/pantsuit-the-hillary-clinton-ui-pattern-library-238e9bf06b54" target="_blank">Mina Markham</a> and <a class="c-link" href="https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/" target="_blank">Harry Roberts</a>.

      //- ul.c-list
      //-   li.c-list__item cool list item

      a(href="http://theironyard.com", target="_blank").c-button.c-button--arrow-remote.u-margin-bottom Checkout The Live Site
      p.c-paragraph Below are screenshots of several core pages assembled with the components we designed in browser.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        .c-browser: img.c-browser__content(src="/assets/images/projects/the-iron-yard/1.png")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--small Homepage
        //- p.c-paragraph.c-paragraph--sans.c-paragraph--medium B

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        .c-browser: img.c-browser__content(src="/assets/images/projects/the-iron-yard/1.5.png")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--small Main Menu
        //- p.c-paragraph.c-paragraph--sans.c-paragraph--medium lipsum

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        .c-browser: img.c-browser__content(src="/assets/images/projects/the-iron-yard/2.png")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--small Corporate Training
        //- p.c-paragraph.c-paragraph--sans.c-paragraph--medium lipsum

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        .c-browser: img.c-browser__content(src="/assets/images/projects/the-iron-yard/3.png")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--small About The Iron Yard
        //- p.c-paragraph.c-paragraph--sans.c-paragraph--medium lipsum

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        .c-browser: img.c-browser__content(src="/assets/images/projects/the-iron-yard/4.png")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--small Campus Locations
        //- p.c-paragraph.c-paragraph--sans.c-paragraph--medium lipsum

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        .c-browser: img.c-browser__content(src="/assets/images/projects/the-iron-yard/5.png")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--small Diversity Initiatives
        //- p.c-paragraph.c-paragraph--sans.c-paragraph--medium lipsum

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        .c-browser: img.c-browser__content(src="/assets/images/projects/the-iron-yard/6.png")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--small Work With Us
        //- p.c-paragraph.c-paragraph--sans.c-paragraph--medium lipsum


  div(style="position: fixed; bottom: 0; right: 0; left: 0; z-index: -1;")
    include /includes/about/_footer

  include /includes/_closing-scripts
