

//----------Header
header {
	padding:14% 20px;
}

section.image {
	text-align:center;
	margin-bottom:100px;
	img {
		max-width: 100%;
		vertical-align: middle; // Weird padding bug fix
	}
}

//----------Textual
section.copy {
	margin-top:0;
	max-width:900px;
	  margin-bottom: 150px;
	p {
		margin-bottom:50px;
		&:last-child { margin-bottom: 0;	}
	}
}

//----------Image feature w/ text descr
section.feature {
	@include clearfix;
	margin-top: 100px;
	margin-bottom: 100px;
	img {
		max-width: 100%;
	}
	@include media($bp-medium) {
		img {
		  width: 78%;
		}
		.description {
			margin-top: 40px;
			width: 18%;
			font-size: em(16px);
			h3 {
				font-size: em(18px);
				text-align: left;
			}
		}
		&.left {
			img { float: left; }
			.description { float: right; }
		}
		&.right {
			img { float: right; }
			.description { float: left; }
		}
	}
}


//-----------Quote
section.endorsement {
	background:inherit;
	padding:40px 0 60px 0;
	blockquote {
		p {
			color: #fff;
		}
	}
}

//-----------Project Tiles
section.project-tiles {
	background:#fff;
}

	// &:before {
	// 	content:"\201C";
	//   position: absolute;
	//   left: -22px;
	//   font-size: 32px;
	//   top: 6px;
	//   opacity: 0.5;
	// }
	// cite {
	// 	@include ff-label;
	// 	font-style: normal;
	// 	font-size: em(14px);
	// 	display: block;
	// 	text-transform: uppercase;
	// }
// }
//-----------Image lockup

section.lockup {
	padding-top:50px;
	padding-bottom:50px;
	.feature {
		background:$c-yellow;
		height: 450px;
		display: block;
		margin:1%;
		overflow: hidden;
		text-decoration:none;
		width: 100%;
		//----------- Layout States
		@include media($bp-large) {
			float: left;
			&.hero {
				width: 98%;
			}
			&.large {
				width: 58%;
			}
			&.medium {
				width: 48%;
			}
			&.small {
				width: 38%;
				.preview {
					bottom: -190px;
					left:6%;
				}
			}
		}
		//----------- End Layout States
	}
}