include /includes/_head
    
body
  include /includes/about/_header
  .c-page(id="🚀")
    section.c-wrapper.c-wrapper--slimmest.u-padding-top-large: .c-container
      h2.c-title.c-title--large Featured Work
      p.c-paragraph.u-margin-bottom Lipsum

    section.c-wrapper: .c-container
      .c-grid
        div(class="c-grid__cell 4/7--desk")
          img(src="/assets/images/projects/newline/preview1.png")
        div(class="c-grid__cell 3/7--desk")
          h3.c-title.c-title--medium.u-margin-top.u-margin-bottom-none Newline Education Platform <span class="c-title__subtle">2015 &ndash; 2017</span>
          h4.c-title.c-title--smallest.u-margin-bottom-small UI Design System, Front-End Engineering, RoR Development
          p.c-paragraph.c-paragraph--sans.c-paragraph--medium Newline is the course-work software of The Iron Yard. I worked with fellow designer <a href="#" class="c-link">Jeremiah</a> to bring a fun and interactive online classroom experience to over X,XXX students and a administrative system to over 160 employees. Features I worked on include interactive code blocks, programming assessments with a lightweight browser IDE, intructor content creation, student management, record keeping, and student-instructor messaging.

          p.c-paragraph.c-paragraph--sans.c-paragraph--medium From the ground-up we designed, built, and documented a CSS component system with over 50 elements. It allowed the anyone on the team quickly assemble a view. In addition to authoring the design system, I worked in the engineering team and built the front-end for a in-browser IDE and help messaging system.
          div.c-button.c-button--disabled Case Study Coming Summer 2017

    section.c-wrapper: .c-container: .c-grid.c-grid--rev
      div(class="c-grid__cell 4/7--desk")
        .c-browser: .c-browser__content: img(src="/assets/images/projects/tiy/preview1.jpg")
      div(class="c-grid__cell 3/7--desk")
        h3.c-title.c-title--medium.u-margin-top.u-margin-bottom-none TheIronYard.com <span class="c-title__subtle">2016 &ndash; 2017</span>
        h4.c-title.c-title--smallest.u-margin-bottom-small UI Design System, Front-End Engineering
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium I designed and lead the development of the front-end design framework for the new TheIronYard.com. The previous iteration of the company's website had dragged to a halt both in codebase update time and page load times due to technical debt accrued since the original launch in 2013. This project was a burn and rebuild-from-the-ground-up type project.

        p.c-paragraph.c-paragraph--sans.c-paragraph--medium I worked closely with The Iron Yard marketing team to create a from-scratch front-end framework that could support the existing 666 pages of content while also refreshing The Iron Yard's online brand experience. The framework, based on the ITCSS methodology, was designed and documented to allow the updating of pages and the assembling of layouts to be made by non-technical individuals. Following the launch of the site, the sites bounce rate decreased <a href="#" class="c-link">28.67%<sup>1</sup></a> and the average session improved by <a href="#" class="c-link">18.26%<sup>2</sup></a>. Conversions of visitor to lead increased by 98%! Me, my colleages, and The Iron Yard admissions was thrilled! My partners in crime on this project were <a href="#" class="c-link">Jeremiah</a> and Marcom, thise Iron Yard marketing department<sup>3</sup>.
        div.c-button.c-button--disabled Case Study Coming Summer 2017

    section.c-wrapper: .c-container: .c-grid
      div(class="c-grid__cell 4/7--desk")
        .c-browser: .c-browser__content: img(src="/assets/images/projects/injury-manager/mock-injury.jpg")
      div(class="c-grid__cell 3/7--desk")
        h3.c-title.c-title--medium.u-margin-top.u-margin-bottom-none Employee Injury Manager <span class="c-title__subtle">2014</span>
        h4.c-title.c-title--smallest.u-margin-bottom-small UI Design System
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability. My client was building a SAAS employee injury management platform to solve the problem. I was brought in as a UX consultant to do design the flow of the application and create a UI design system.
        a(href="injury-manager#🚀").c-button.c-button--arrow-r Read The Case Study

    section.c-wrapper: .c-container: .c-grid.c-grid--rev
      div(class="c-grid__cell 4/7--desk")
        img(src="/assets/images/projects/arkiver/hero.png")
      div(class="c-grid__cell 3/7--desk")
        h3.c-title.c-title--medium.u-margin-top.u-margin-bottom-none Arkiver Life Journal <span class="c-title__subtle">2013 &ndash; 2014</span>
        h4.c-title.c-title--smallest.u-margin-bottom-small UI Design
        a(href="arkiver#🚀").c-button.c-button--arrow-r Read The Case Study

    section.c-wrapper: .c-container: .c-grid
      div(class="c-grid__cell 4/7--desk")
        .c-browser(style="height:580px;"): .c-browser__content: img(src="/assets/images/projects/echo/feature-detail.jpg")
      div(class="c-grid__cell 3/7--desk")
        h3.c-title.c-title--medium.u-margin-top.u-margin-bottom-none Echo Cordless Tools <span class="c-title__subtle">2015</span>
        h4.c-title.c-title--smallest.u-margin-bottom-small Marketing Site Design
        a(href="echo#🚀").c-button.c-button--arrow-r Read The Case Study

    section.c-wrapper: .c-container: .c-grid.c-grid--rev
      div(class="c-grid__cell 4/7--desk")
        .c-browser: .c-browser__content: img(src="/assets/images/projects/depends/preview1.jpg")
      div(class="c-grid__cell 3/7--desk")
        h3.c-title.c-title--medium.u-margin-top.u-margin-bottom-none Depends Canada <span class="c-title__subtle">2013</span>
        h4.c-title.c-title--smallest Front-End Engineering

  include /includes/about/_footer
  include /includes/_closing-scripts
