include /includes/_head
    
body: .page
  include /includes/about/_header

  section.wrapper.wrapper--slim.wrapper--small.u-margin-top: .container
    h2.title.title--large.u-margin-bottom Work
    .grid
      div(class="grid__cell 4/7--lap-and-up")
        div(style="background:red;") amaze
      div(class="grid__cell 3/7--lap-and-up")
        h3.title.title--small.u-margin-bottom-none Newline
        h4.title.title--smallest Design Systems, Front-End Engineering, RoR Development
        p.paragraph.paragraph--sans.paragraph--medium Newline is the learning platform of The Iron Yard. I worked with fellow designer <a href="#" class="link">Jeremiah</a> to bring a fun and interactive online classroom experience to over X,XXX students and a administrative system to over 160 employees. Features I worked on include interactive code blocks, programming assessments with a lightweight browser IDE, intructor content creation, student management, record keeping, and student-instructor messaging.

        p.paragraph.paragraph--sans.paragraph--medium From the ground-up we designed, built, and documented a CSS component system with over 50 elements. It allowed the anyone on the team quickly assemble a view. In addition to authoring the design system, I worked in the engineering team and built the front-end for a in-browser IDE and help messaging system.
        h4.title.title--label The Iron Yard, 2015 &mdash; 2017
        //- a(href="/").button Check it out

  section.wrapper.wrapper--slim.wrapper--small: .container: .grid
    div(class="grid__cell 3/7--lap-and-up")
      h3.title.title--small.u-margin-bottom-none TheIronYard.com
      h4.title.title--smallest Design Systems
      p.paragraph.paragraph--sans.paragraph--medium The marketing website for the 
      h4.title.title--label The Iron Yard, 2016
      //- a(href="/").button Check it out
    div(class="grid__cell 4/7--lap-and-up")
      div(style="background:red;") amaze


  section.wrapper.wrapper--slim.wrapper--small: .container: .grid
    div(class="grid__cell 4/6--lap-and-up")
      div(style="background:red;") amaze
    div(class="grid__cell 2/6--lap-and-up")
      h3.title.title--small.u-margin-bottom-none Newline
      h4.title.title--smallest Design System, Front-End Engineering
      p.paragraph.paragraph--sans.paragraph--medium We were asked to bring life to a business model. Meet Stuart, an on-demand delivery service we built and designed from scratch.
      h4.title.title--label The Iron Yard, 2015 &mdash; 2017
      //- a(href="/").button Check it out



  //- section.wrapper: .container: .grid
  //-   div(class="grid__cell 2/3--lap-and-up")
  //-     .image: img(src="/assets/images/projects/echo/listing.png")
  //-     h2.title.title--label Echo Cordless Tools
  //-     h3.title.title--large Online Brand Experience
  //-     p.paragraph We were asked to bring life to a business model. Meet Stuart, an on-demand delivery service we built and designed from scratch.
  //-     a.link.link--focal(src="#") View Case Study
  //-   div(class="grid__cell 1/3--lap-and-up")
  //-     .image: img(src="/assets/images/projects/echo/listing.png")
  //-     h2.title.title--label Online Brand Experience
  //-     h3.title.title--large Echo Cordless Tools
  //-     p.paragraph We were asked to bring life to a business model. Meet Stuart, an on-demand delivery service we built and designed from scratch.
  //-     a.link.link--focal(src="#") View Case Study

  include /includes/about/_footer
  include /includes/_closing-scripts
 
