include /includes/_head
    
body: .page
  include /includes/about/_header

  section.wrapper.wrapper--slim.wrapper--small.u-margin-top: .container
    h2.title.title--large.u-margin-bottom Work
    .grid
      div(class="grid__cell 4/7--desk")
        div(style="background:red;") amaze
      div(class="grid__cell 3/7--desk")
        h3.title.title--small.u-margin-bottom-none Newline
        h4.title.title--smallest Design Systems, Front-End Engineering, RoR Development
        p.paragraph.paragraph--sans.paragraph--medium Newline is the learning platform of The Iron Yard. I worked with fellow designer <a href="#" class="link">Jeremiah</a> to bring a fun and interactive online classroom experience to over X,XXX students and a administrative system to over 160 employees. Features I worked on include interactive code blocks, programming assessments with a lightweight browser IDE, intructor content creation, student management, record keeping, and student-instructor messaging.

        p.paragraph.paragraph--sans.paragraph--medium From the ground-up we designed, built, and documented a CSS component system with over 50 elements. It allowed the anyone on the team quickly assemble a view. In addition to authoring the design system, I worked in the engineering team and built the front-end for a in-browser IDE and help messaging system.
        h4.title.title--label The Iron Yard, 2015 &mdash; 2017
        a(href="#").button.u-margin-top-smallest Case Study Coming Summer 2017

  section.wrapper.wrapper--slim.wrapper--small: .container: .grid.grid--rev
    div(class="grid__cell 4/7--desk")
      div(style="background:red;") amaze
    div(class="grid__cell 3/7--desk")
      h3.title.title--small.u-margin-bottom-none TheIronYard.com
      h4.title.title--smallest Design Systems, Front-End Engineering
      p.paragraph.paragraph--sans.paragraph--medium I designed and lead the development of the front-end design framework for the new TheIronYard.com. The previous iteration of the company's website had dragged to a halt both in codebase update time and page load times due to technical debt accrued since the original launch in 2013. This project was a burn and rebuild-from-the-ground-up type project.

      p.paragraph.paragraph--sans.paragraph--medium I worked closely with The Iron Yard marketing team to create a from-scratch front-end framework that could support the existing 666 pages of content while also refreshing The Iron Yard's online brand experience. The framework, based on the ITCSS methodology, was designed and documented to allow the updating of pages and the assembling of layouts to be made by non-technical individuals. Following the launch of the site, the sites bounce rate decreased 28.67%<sup>1</sup> and the average session improved by 18.26%<sup>2</sup>. Conversions of visitor to lead increased by 98%! Me, my colleages, and The Iron Yard admissions was thrilled! My partners in crime on this project were <a href="#" class="link">Jeremiah</a> and Marcom, thise Iron Yard marketing department<sup>3</sup>.
      h4.title.title--label The Iron Yard, 2016
      a(href="#").button.u-margin-top-smallest Case Study Coming Summer 2017

  section.wrapper.wrapper--slim.wrapper--small: .container: .grid
    div(class="grid__cell 4/7--desk")
      div(style="background:red;") Employee Management Platform
    div(class="grid__cell 3/7--desk")
      h3.title.title--small.u-margin-bottom-none Employee Management Platform
      h4.title.title--smallest Art Direction, UI Prototyping, Design Systems
      p.paragraph.paragraph--sans.paragraph--medium A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability. My client was building a SAAS documentation and support platform to solve the problem. I was brought in as a UX consultant to do design the flow of the application and create a UI design system.
      h4.title.title--label National International (Freelance), 2014
      a(href="#").button.u-margin-top-smallest Case Study &#x2192;

  section.wrapper.wrapper--slim.wrapper--small: .container: .grid
    div(class="grid__cell 4/7--desk")
      div(style="background:red;") Echo Cordless
    div(class="grid__cell 3/7--desk")
      h3.title.title--small.u-margin-bottom-none Echo Cordless Marketing Site
      h4.title.title--smallest UI Design
      h4.title.title--label Torque Creative, 2015
      a(href="#").button.u-margin-top-smallest Case Study &#x2192;

  section.wrapper.wrapper--slim.wrapper--small: .container: .grid.grid--rev
    div(class="grid__cell 4/7--desk")
      div(style="background:red;") Arkiver
    div(class="grid__cell 3/7--desk")
      h3.title.title--small.u-margin-bottom-none Arkiver
      h4.title.title--smallest UI Design
      h4.title.title--label National International (Freelance), 2014
      a(href="#").button.u-margin-top-smallest Case Study &#x2192;

  section.wrapper.wrapper--slim.wrapper--small: .container: .grid
    div(class="grid__cell 1/6--desk")
      div(style="background:red;") fuck
    div(class="grid__cell 2/6--desk")
      h3.title.title--small.u-margin-bottom-none Depends French Canada
      h4.title.title--smallest Front-End Engineering
      h4.title.title--label Organic, 2013

    div(class="grid__cell 1/6--desk")
      div(style="background:red;") fuck
    div(class="grid__cell 2/6--desk")
      h3.title.title--small.u-margin-bottom-none U By Kotex
      h4.title.title--smallest Front-End Engineering
      h4.title.title--label Organic, 2013

  //- section.wrapper: .container: .grid
  //-   div(class="grid__cell 2/3--desk")
  //-     .image: img(src="/assets/images/projects/echo/listing.png")
  //-     h2.title.title--label Echo Cordless Tools
  //-     h3.title.title--large Online Brand Experience
  //-     p.paragraph We were asked to bring life to a business model. Meet Stuart, an on-demand delivery service we built and designed from scratch.
  //-     a.link.link--focal(src="#") View Case Study
  //-   div(class="grid__cell 1/3--lap")
  //-     .image: img(src="/assets/images/projects/echo/listing.png")
  //-     h2.title.title--label Online Brand Experience
  //-     h3.title.title--large Echo Cordless Tools
  //-     p.paragraph We were asked to bring life to a business model. Meet Stuart, an on-demand delivery service we built and designed from scratch.
  //-     a.link.link--focal(src="#") View Case Study

  include /includes/about/_footer
  include /includes/_closing-scripts
 
