
include ../includes/_head

body
  .wrapper-page.standard.animsition
    include ../includes/_nav

    
    section.copy.container
      h1 Many Thanks To&#8230;
      h2 I Wouldn't Be Where I Am Today Without These Special People.
      p When Jesse first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries.
      p I was immediately interested. The problem? A majority of workmans comp lawsuits had everything to do with unclear policies, slow communication, and missing accountability. Our goal was twofold, to build a platform to quickly and comprehensively alert the necessary parties when a on-the-job injury had occurred and provide a repository to save and  securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.
 
    //- include ../includes/_connect
    include ../includes/_footer

  include ../includes/_closing-scripts