
include ../includes/_head

body
  .wrapper-page.standard
    include ../includes/_nav

    
    section.copy.container
      h1 Many Thanks To&#8230;
      h2 I Wouldn't Be Where I Am Today Without These Friends And Mentors In My Life.
      p Having come from an untraditional education background, personal relationships have played a <em>huge</em> part in how I wound up where I am today.
      //- p First and foremost my parents for providing me with the
    //- include ../includes/_connect
    include ../includes/_footer

  include ../includes/_closing-scripts