
include ../includes/_head

body
  .wrapper-page.standard
    include ../includes/_nav

    
    section.copy.container
      h1 Many Thanks To&#8230;
      h2 I Wouldn't Be Where I Am Today Without These Special People.
      p Placeholder text, listing thank yous to all the OG gangsters out there
    //- include ../includes/_connect
    include ../includes/_footer

  include ../includes/_closing-scripts