header.cover
    .container: .bio
      h1 Hi, I'm Andrew McIntee
      p I am a visual problem solver specializing in user interface design, web development, and speaking. I execute on ideas, creating highly efficient and friendly digital products. If I am not finessing meaningful software and web based experiences within a collaborative, down-to-earth team I am enjoying face-to-face conversations, tasty beer, travel, and the outdoors. I’m currently available for select projects. 