.container
  .image: img(src="/assets/images/headshot.jpg")
  .bio
    p Hello! <span class="subtle">&mdash;</span> I’m a UI designer &amp; front-end web engineer living in Atlanta. Formerly a freelance consultant, I now work with <a href="http://theironyard.com">The Iron Yard</a> building an online classroom experience. I’m interested in social inclusivity, modular design systems, and the outdoors.
    p Thanks for dropping by. Contact me by email at <a href="mailto:studio@andrew.mn">Studio@Andrew.mn</a>.
    p.small <span class="subtle">&mdash;</span> Andrew McIntee
