.container:.bio
    h1 I'm Andrew McIntee
    p A multi-disciplinarian user interface designer and front-end engineer. <em>I'm passionate</em> about people and what makes them tick. <em>I specialize</em> in honing big visions into human-friendly digital products. <em>I value</em> face-to-face interaction and strive to reflect that same connected intimacy through the products I create.
    h2 Skillset &amp; Experience
    p I maintain balance between business goals, the end-user, and technical considerations. I'm drawn to complex enviroments where elegantly designed software can make a dramatic difference.
    h2 Contact
    p: <a href="#content" class="js-scroll-to">Read about my work</a> or <a href="#connect" class="js-scroll-to">connect with me</a>.
