.container
  .image: img(src="/assets/images/headshot.jpg")
  .bio
    p Hello! <span class="subtle">&mdash;</span> I’m a interactive designer living in Atlanta and working in the cross section of UI design and front&#8209;end engineering. Formerly a freelance UI design consultant, I now work with The Iron Yard to emulate a programming classroom experience online. I’m interested in social inclusivity, modular design systems, and the outdoors.
    p Thanks for dropping by, contact me by email at <a href="mailto:studio@andrew.mn">Studio@Andrew.mn</a>.
    p.small <span class="subtle">&mdash;</span> Andrew McIntee
