section.endorsements

	//- --------------------
	//- .intro
	//- 	.container: p I specialize in finessing meaningful software and web based experiences within a collaborative, down-to-earth team. I have had the privalage of working with internationally recognized brands and the next up and coming startup alike.

	//- --------------------
	//- .brands: .container
	//- 	h2 I have had the privalage of consulting with these brands.
	//- 	.logos U By Kotex, Depend, The IronYard, Clemson University, Auburn University, Harvard Medical School, Outdoor Channel, Ridgid, Ryobi, ECHO, Home Depot, Organic

	//- --------------------
	.testimonials: .container
		blockquote
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet nulla ut felis euismod, at hendrerit nulla scelerisque. Aliquam erat volutpat. Cras suscipit elit sit amet consequat mollis. Ut blandit massa.
			cite Jane Doe
		//- blockquote
		//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet nulla ut felis euismod, at hendrerit nulla scelerisque. Aliquam erat volutpat. Cras suscipit elit sit amet consequat mollis. Ut blandit massa
		//- 	cite Joe Shmo
		//- blockquote
		//- 	| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet nulla ut felis euismod, at hendrerit nulla scelerisque. Aliquam erat volutpat. Cras suscipit elit sit amet consequat mollis. Ut blandit massa
		//- 	cite Mom
