section.project-tiles#projects

  //- .intro: .container
  //-   h1 Projects
  //-   //- p.center A sentence about who I work for here, okay, cool.

  //- --------------------
  .project-listing.container
    a(href="#").project.project-echo.hero
      .description
        h2 Zenjuries Employee Injury Managment Platform
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="/assets/images/projects/echo/listing.png").preview
    a(href="/projects/echo-cordless-tools").project.project-echo.large
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="/assets/images/projects/echo/listing.png").preview
    a(href="#").project.small
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="/assets/images/projects/echo/listing.png").preview
    a(href="#").project.medium
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="/assets/images/projects/echo/listing.png").preview
    a(href="#").project.medium
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="/assets/images/projects/echo/listing.png").preview
