section.projects#projects

  //- --------------------
  .project-listing.container
    a(href="#").project.project-echo.hero
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="assets/images/projects/echo/listing.png").preview
    a(href="#").project.large
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="assets/images/projects/echo/listing.png").preview
    a(href="#").project.small
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="assets/images/projects/echo/listing.png").preview
    a(href="#").project.small
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="assets/images/projects/echo/listing.png").preview
    a(href="#").project.large
      .description
        h2 Echo Cordless Tools
        p Designing and executing the web branding of an all-new ECHO Tools venture.
      img(src="assets/images/projects/echo/listing.png").preview
