section.projects#projects

  //- --------------------
  .project-listing.container
    a(href="#").project.hero
      //- .overlay
      //-   h2 ECHO Cordless Tools
      //-   p Designing and executing the web branding of an all-new ECHO Tools venture.
    a(href="#").project.large
      //- .overlay
      //-   h2 ECHO Cordless Tools
      //-   p Designing and executing the web branding of an all-new ECHO Tools venture.
    a(href="#").project.small
      //- .overlay
      //-   h2 ECHO Cordless Tools
      //-   p Designing and executing the web branding of an all-new ECHO Tools venture.
    a(href="#").project.small
      //- .overlay
      //-   h2 ECHO Cordless Tools
      //-   p Designing and executing the web branding of an all-new ECHO Tools venture.
    a(href="#").project.large
      //- .overlay
      //-   h2 ECHO Cordless Tools
      //-   p Designing and executing the web branding of an all-new ECHO Tools venture.
