section.skills#skills

	//- .container
	//- 	h3.intro My Strengths
	//- 	.tile
	//- 		h3
	//- 			img(src="/assets/images/icon-skillset-marketing.png")
	//- 			| Marketing Design
	//- 		p This is where problem solving meets visual impact. I unite products and users.

	//- 	.tile
	//- 		h3
	//- 			img(src="/assets/images/icon-skillset-ui.png")
	//- 			| User Interface Design
	//- 		p Be it iOS, Android, or Desktop software, I create useful, elegent native experiences.

	//- 	.tile
	//- 		h3
	//- 			img(src="/assets/images/icon-skillset-dev.png")
	//- 			| Front-End Engineering
	//- 		p It doesn't stop with concepting. I develop products from visual concept to interactive experience.

	.container
		.primary
			h3.intro I Specialize In
			h2 User Interface Design
			p I maintain the balance between business goals, the end-user, and technical considerations. I'm drawn to complex enviroments where elegantly designed software can make a dramatic difference.
			
			//- p I'm drawn to formulating new ideas around objects, people and motives using thesis building.Then executing a series of experiments against the thesis. I consider this process design. Any goal where design is a factor should be articulated in a fashion that secures executive paths in complex environments and presents that path to customers for economic gain.

		.secondary
			h3.intro My Strengths

			.strengths

				.strength
					.icon.s1
						img(src="/assets/images/icon-skillset2-prototyping.png")
					h3 Wireframe Prototyping
				.strength
					.icon.s2
						img(src="/assets/images/icon-skillset2-ui.png")
					h3 User Interface Design
				.strength
					.icon.s3
						img(src="/assets/images/icon-skillset2-dev.png")
					h3 Front-End Engineering
				.strength
					.icon.s4
						img(src="/assets/images/icon-skillset2-marketing.png")
					h3 Marketing Design