section.skills#skills

	.container
		h2.intro Skillsets
		.tile
			h3
				img(src="/assets/images/icon-skillset-marketing.png")
				| Marketing Design
			p This is where problem solving meets visual impact. I unite products and users.

		.tile
			h3
				img(src="/assets/images/icon-skillset-ui.png")
				| User Interface Design
			p Be it iOS, Android, or Desktop software, I create useful, elegent native experiences.

		.tile
			h3
				img(src="/assets/images/icon-skillset-dev.png")
				| Front-End Engineering
			p It doesn't stop with concepting. I develop products from visual concept to interactive experience.