section.writing#writing

	//- --------------------
	h1.container Writing

	//- --------------------
	.writing-listing.container
		a(href="#")
			.date May 2015
			h2 Thoughts On Vulnerability And Human Connection
			.wordcount 400 Words