

- var pageTitle = 'Arkiver: Application User Interface Design | Andrew McIntee';

- var headerColor = "#333335";
- var subHeaderColor = "#333335";
- var endorsementColor = "#bb8339";
- var headerTitle = "Arkiver";

include ../../includes/_head

style.
  body > .wrapper-page { background:#faf9f7; }
  header { color:#bb8339; }
  h1 { color:#fff; }
  h2,h3 { color: #bb8339; }
  p a:hover {  border-bottom-color: #bb8339; }
  blockquote p:after, blockquote p:before, blockquote cite { color:#bb8339; }

body
  .wrapper-page.project.project-echo
    include ../../includes/_nav

    header(style="background:#{headerColor}; padding-bottom:280px;")
      h1 Arkiver
      p.center Designing an Application Interface to Elegantly Capture, Curate, and Share Memories

    section.image.full(style="background:#{subHeaderColor}; background-size:cover; margin-bottom:0;"): img(src='/assets/images/projects/arkiver/hero.png',style="margin-top: -206px;")

    section.quote: .container: blockquote.inline
      p I highly recommend Andrew to others needing top quality design work done. Andrew was able to incorporate a powerful set of features in a beautiful and simple user experience. He is open to alternative ways of approaching design problems which is not always a quality found in other designers. As well as being very talented, Andrew is very personable which is why I continue to use him for projects as they arise.
      cite
        img(src="/assets/images/projects/arkiver/logan.jpg")
        | Logan Metcalfe
        span CEO, Arkiver

    section.copy.container
      h2 Take Back Control of Your Digital ‘Moments’
      p The founders of Arkiver first approached me to provide creative direction and user interface mockups to iterate on their existing user interface. The app was simple in concept. Give users storage for all their internet content (‘moments’) scattered across various social media sites. My job was to prototype how one of these moments would operate across all screen sizes&mdash;providing a consistent experience with any device.
      //- section.image.full: img(src='/assets/images/projects/arkiver/feature-login.jpg')

    section.feature.left: .container
      img(src='/assets/images/projects/arkiver/feature-moment-full.jpg')
      .description
        h3 Full / Desktop View
        p Featured, a moment in its regular state and edit state along with a prototype of the collapsable, left navigation.

    section.feature.left: .container
      img(src='/assets/images/projects/arkiver/feature-moment-slim.jpg')
      .description
        h3 Tablet / Slim View
        p This is the moment view with its metadata stacked vertically for design for portrait tablets.

    section.feature.left: .container
      img(src='/assets/images/projects/arkiver/feature-moment-mobile.jpg')
      .description
        h3 Mobile View
        p The flow for viewing and editing a moment on mobile devices. The tags, people, and category edit states are relagated to an additional screen to account for the necessary larger hitspaces needed on smaller devices.

    section.copy.container
      h2 Other Interface Elements
      p Throughout our engagement I consulted with Arkiver to prototype more interaction-heavy views for their app. These include login, bulk editing, moment sharing, and user onboarding. This is a selection of a few of the final protypes.

    section.feature.left: .container
      img(src='/assets/images/projects/arkiver/feature-listing.jpg')
      .description
        h3 Sorting &amp; Bulk Editing
        p Filtering, sorting, and bulk editing moments is intended to be a desktop-only feature. These mockups showcase a flow for the filtering and bulk editing moments.

    section.copy.container
      h2 Project Summary
      p The Arkiver founders were thrilled with my work and since our first engagement we maintain a regular user interface design consulting relationship for prototyping new features and finessing current application interactions.
      p Interested in hearing more about my process? <a href="#connect" class="js-scroll-to">Let's connect!</a>

    //- --------------------
    section.project-tiles
      .project-listing.container
        h3.intro More Case Studies
        a(href="/projects/zenjuries").project.project-zenjuries.hero.animsition-link
          .description
            h2 Zenjuries Employee Injury Management Platform
            p SAAS Platform Assisting Businesses in Effectively Managing On-the-Job Injuries
          img(src="/assets/images/projects/zenjuries/listing.png").preview
    
    include ../../includes/_connect
    include ../../includes/_footer

  include ../../includes/_closing-scripts