
- var headerColor = "#333335";
- var subHeaderColor = "#333335";
- var endorsementColor = "#bb8339";
- var headerTitle = "Arkiver";

include ../../includes/_head

style.
  body > .wrapper-page { background:#faf9f7; }
  header { color:#bb8339; }
  h1 { color:#fff; }
  h2,h3 { color: #bb8339; }

body
  .wrapper-page.project.project-echo
    include ../../includes/project/_project-nav

    header(style="background:#{headerColor}; padding-bottom:280px;")
      h1 Arkiver
      p.center Designing An Application Interface To Elegantly Capture, Curate, And Share Memories.

    section.image.full(style="background:#{subHeaderColor}; background-size:cover;"): img(src='/assets/images/projects/arkiver/hero.png',style="margin-top: -206px;")

    section.copy.container
      h2 About The Project
      p For over 60 years Echo has been a leader in the commercial and home power and outdoor tool market. I was thrilled to be selected to lead the web branding and interactive development initiative for a groundbreaking new line of high-powered 58-volt outdoor tools. Throughout the project, I worked closely with Echo, their exclusive retailer The Home Depot, and the manufacturing partner TTI North America. There were multiple brand and marketing stakeholders that presented challenging constraints with regard to placement and size of existing brand logo marks. I worked with the existing Echo brand assets below.

    section.image.full: img(src='/assets/images/projects/arkiver/feature-login.jpg')

    section.copy.container
      h2 Moments
      p For over 60 years Echo has been a leader in the commercial and home power and outdoor tool market. I was thrilled to be selected to lead the web branding and interactive development initiative for a groundbreaking new line of high-powered 58-volt outdoor tools. Throughout the project, I worked closely with Echo, their exclusive retailer The Home Depot, and the manufacturing partner TTI North America. There were multiple brand and marketing stakeholders that presented challenging constraints with regard to placement and size of existing brand logo marks. I worked with the existing Echo brand assets below.

    section.feature.left: .container
      img(src='/assets/images/projects/arkiver/feature-moment-full.jpg')
      .description
        h3 Full / Desktop View
        p In addition the to the brand assets, these are samples of the existing packaging and web marketing assets.

    section.feature.left: .container
      img(src='/assets/images/projects/arkiver/feature-moment-slim.jpg')
      .description
        h3 Tablet / Slim View
        p In addition the to the brand assets, these are samples of the existing packaging and web marketing assets.

    section.feature.left: .container
      img(src='/assets/images/projects/arkiver/feature-moment-mobile.jpg')
      .description
        h3 Mobile View
        p In addition the to the brand assets, these are samples of the existing packaging and web marketing assets.

    section.copy.container
      h2 Other Interface Elements
      p For over 60 years Echo has been a leader in the commercial and home power and outdoor tool market. I was thrilled to be selected to lead the web branding and interactive development initiative for a groundbreaking new line of high-powered 58-volt outdoor tools. Throughout the project, I worked closely with Echo, their exclusive retailer The Home Depot, and the manufacturing partner TTI North America. There were multiple brand and marketing stakeholders that presented challenging constraints with regard to placement and size of existing brand logo marks. I worked with the existing Echo brand assets below.

    section.feature.left: .container
      img(src='/assets/images/projects/arkiver/feature-listing.jpg')
      .description
        h3 Sorting &amp; Bulk Editing
        p In addition the to the brand assets, these are samples of the existing packaging and web marketing assets.

    section.copy.container
      h2 Project Summary
      p For over 60 years Echo has been a leader in the commercial and home power and outdoor tool market. I was thrilled to be selected to lead the web branding and interactive development initiative for a groundbreaking new line of high-powered 58-volt outdoor tools. Throughout the project, I worked closely with Echo, their exclusive retailer The Home Depot, and the manufacturing partner TTI North America. There were multiple brand and marketing stakeholders that presented challenging constraints with regard to placement and size of existing brand logo marks. I worked with the existing Echo brand assets below.

    //- section.copy.container
    //-   h2 The Highest Battery Capacity Yet - Launched At A Break-Neck Pace
    //-   p This project ran at a drop-dead sprint because it was imperative that the online marketing materials launch simultaneously with the retail product rollout. Midnight oil was burned and we were able to launch the site two weeks early to allow for additional bugtesting before the product became publically available.

    //- section.feature.right: .container
    //-   img(src='/assets/images/projects/echo/feature-index.jpg')
    //-   .description
    //-     h3 Homepage
    //-     p The homepage serves as a directory for accessing all tools as well as promoting the product brand.
    //- section.feature.right: .container
    //-   img(src='/assets/images/projects/echo/feature-detail.jpg')
    //-   .description
    //-     h3 About The Product
    //-     p Showcasing the voltage and consumer-warranty promise was paramount. We were able to strike a cohesive balance featuring product while also satisfying legal and marketing concerns.
    //-  section.feature.right: .container
    //-     img(src='/assets/images/projects/echo/feature-registration.jpg')
    //-     .description
    //-       h3 Registration
    //-       p The ability for a user to register his/her product following purchase was imperative for the legal department. I worked closely to meld their requirements into a functional and aesthetically pleasing registration dashboard.
   
    section.endorsement(style="background:#{endorsementColor};"): .container: blockquote
      p We trusted Andrew to build flagship apps that help us reach developers. I'm delighted by what we were able to achieve through our collaboration.
      cite John Doe
        span Cool Title, ECHO Cordless Marketing Team

    //- section.lockup(style="background:#{subHeaderColor};"): .container
    //-   img(src='http://placekitten.com/g/600/400').feature.large
    //-   img(src='http://placekitten.com/g/600/400').feature.small
    //-   img(src='http://placekitten.com/g/600/400').feature.hero
    //-   img(src='http://placekitten.com/g/600/400').feature.medium
    //-   img(src='http://placekitten.com/g/600/400').feature.medium
 
    include ../../includes/project/_project-footer
    include ../../includes/_footer

  include ../../includes/_closing-scripts