
// Ooops this sass isn't dry #moist-coding

nav {
	background:#fff;
	opacity:1;
	padding:20px;
	text-align:center;
	.link {
	  text-transform: uppercase;
	  letter-spacing: 1px;
	  // color: #000;
	  @include ff-heading-medium;
	  .page-name {
	  	display: none;
	  }
	}
	.link.right { display:none; }
}

@include media($bp-medium) {
	nav {
		@include clearfix;
		@include transition-hover;
		background: rgba(#fff,0.98);
		color: $c-grey-medium;
		padding:0;
		left:0;
		right:0;
		top:0;
		width:100%;
		position: fixed;
		z-index: 5000;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		&.headroom { transition: transform 200ms linear; }
		&.headroom--pinned { transform: translateY(0%); }
		&.headroom--unpinned { transform: translateY(-100%); }
		&:hover { }
		.link {
			@include ff-heading-medium;
		  text-align: left;
		  font-size: em(12px);
		  letter-spacing: 1px;
		  color: $c-grey-medium;
		  padding:16px 20px;
		  &.left {
		  	float: left;
		  }
		  &.right {
		  	float: right;
		  	display: block; // this overwrites the mobile style - sorry for the lazy.
		  }
		  .page-name {
		  	@include ff-heading-bold;
		  	display: inline-block;  // this overwrites the mobile style - sorry for the lazy.
		  	color: $c-grey-dark;
		  	&:before {
		  		color: $c-grey-medium;
		  		content: " / ";
		  		font-size: 90%;
		  		vertical-align: top;
		  	}
		  }
		  a {
		  	@include transition-hover;
		  	&:hover {
			  	color: #000;
			  }
		  }
		}
	}
}