- var pageTitle = 'Echo Cordless Tools: Online Brand Design | Andrew McIntee';
- var breadcrumb = [{ name: 'Featured Work', path: 'work', active: false}, { name: 'Employee Injury Manager Case Study', path: 'injury-manager', active: true}];

include /includes/_head

body
  style.
    .c-page { background: #f8fbfc; }
    .c-navigation { background: transparent linear-gradient(to left, #159fef 0%, #2db2ea 100%); }
    .c-link[href]:hover { color: #159fef; }
    .c-wrapper--header { background: #203E58 radial-gradient(#203E58 0%, #112535 100%); }
    .c-title--large, .c-title--medium { color: #159fef; }
  include /includes/about/_navigation
  .c-page(id="🚀").c-page--has-footer
    header.c-wrapper.c-wrapper--header.u-padding-bottom-none: .c-container.c-container--centered
      h1.c-title.c-title--xlarge(style="color: #ffffff;") Employee Injury Manager
      h2.c-title.c-title--medium UI Design System
      h3.c-title.c-title--label.u-margin-bottom(style="color: #ffffff;") National International, 2014
      img(src="/assets/images/projects/injury-manager/hero.png", style="max-width: 900px; margin: 0 auto;")
    section.c-wrapper: .c-container
      h2.c-title.c-title--large On-the-Job Injuries Cost Double with Delays
      p.c-paragraph When the client first approached me about designing and implementing the user interface for a web application to help expedite the response times for remote on-the-job injuries, I was immediately interested. The problem? A majority of workers' compensation lawsuits were results of unclear policies, slow communication, and missing accountability.
      p.c-paragraph Our goal was twofold, build a platform to quickly and comprehensively alert the necessary parties when an on-the-job injury had occurred and provide a repository to save and securely share all the necessary information between physicians, managers, lawyers, human resources, insurance managers, and all other stakeholders involved.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/feature-wireframes.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Protyping
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium These are the resulting wireframes after weeks of iterations and insurance industry interviews. The application interface was built from these prototypes.

    section.c-wrapper.c-wrapper--slim: .c-container
      h2.c-title.c-title--large Developing a Brand Styleguide
      p.c-paragraph With the skeleton of the application interface in place, I began work on the styleguide that would define the brand direction. The only existing brand materials the client had was their logo.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/feature-styleguide.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Initial Styleguide
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium While some elements changed slightly as the project progressed, this was the starting point for designing high-fidelity mockups.

    section.c-wrapper.c-wrapper--slim: .c-container
      h2.c-title.c-title--large High-Fidelity Mockups &amp; Interactive State Prototypes
      p.c-paragraph Following the approval of the styleguide, I went right to work fleshing out the interface mockups in high-fidelity with various interactive states to ensure I did not paint myself into a corner when it came time to build the interface in code.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/prototype-login.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Login States
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium One of the application requirements was the ability for users to be assigned to multiple companies. This was addressed in the login process and in the sidebar navigation.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/mock-dashboard.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Application Dashboard
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium After logging in the user is presented with a comprehensive dashboard. This dashboard assesses their response times and provides an overview of the current status of all injuries assigned to them for action.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/mock-listing.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium All Injuries
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium Due to the small screen sizes I for which I needed to design, I opted to use a right drawer to hide and show filtering options when needed.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/mock-submit.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Report Injuries
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium This easily accessible modal from the header collects urgent, need-to-know information to inform stakeholders and open a new injury within the system.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/mock-injury.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Injury History
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium This screen is the heart of the application—a comprehensive view of all actions that had taken place and an easily viewable summary of the current status.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/prototype-feed.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Injury Feed States
        h3.c-title.c-title--small.u-margin-bottom-none Left
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium A compilation of interactive states for each type of message in the feed.
        h3.c-title.c-title--small.u-margin-bottom-none Right
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium Various states of the injury status update box.

    section.c-wrapper.c-wrapper--slim: .c-container: .c-grid
      div(class="c-grid__cell 3/5--lap  2/3--desk")
        img(src="/assets/images/projects/injury-manager/mock-account.jpg")
      div(class="c-grid__cell 2/5--lap  1/3--desk", js-sticky-aside)
        h3.c-title.c-title--medium Default Page Template
        p.c-paragraph.c-paragraph--sans.c-paragraph--medium The default settings page populated with user account info.

  div(style="position: fixed; bottom: 0; right: 0; left: 0; z-index: -1;")
    include /includes/about/_footer

  include /includes/_closing-scripts
