//- section.project-tiles

//-   //- --------------------
//-   .project-listing.container
//-     h3.intro Read More Case Studies
//-     a(href="/projects/echo-cordless-tools").project.project-echo.large.animsition-link
//-       .description
//-         h2 Echo Cordless Tools
//-         p Creating An Online Brand Experience For An Innovative New Line Of Cordless Outdoor Tools
//-       img(src="/assets/images/projects/echo/listing.png").preview
//-     a(href="/projects/arkiver").project.project-arkiver.small.animsition-link
//-       .description
//-         h2 Arkiver
//-         p Designing An Application Interface To Elegantly Capture, Curate, And Share Memories
//-       img(src="/assets/images/projects/arkiver/listing.png").preview