//- nav
//- 	.link.left
//- 		a(href="/").brand
//- 			img(src="/assets/images/brand-small-dark.png")
//- 			| Andrew McIntee 
//- 		span.page-name #{headerTitle}
//- 	.link.right: a(href="/").connect Connect Anytime

nav
	h3.pageinfo Andrew McIntee
	a.link.back(href="/").animsition-link
		img(src="/assets/images/icon-back.svg")
	a.link.connect(href="/#connect").animsition-link
		img(src="/assets/images/icon-connect.svg")