include /includes/_head
    
body
  //- include /includes/_nav

  .page.page--has-footer
    header.wrapper.wrapper--header.wrapper--light-blue: .container
      p.paragraph Hello! <span class="subtle">&mdash;</span> I’m a UI designer &amp; front-end web engineer living in Atlanta. Formerly a freelance consultant, I now work with <a class="link" href="http://theironyard.com">The Iron Yard</a> building an online classroom experience. I’m interested in social inclusivity, modular design systems, and the outdoors.
      p.paragraph Thanks for dropping by. Contact me by email at <a class="link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a>.

    section.wrapper: .container: .grid
      div(class="grid__cell 2/3--lap-and-up")
        .image: img(src="/assets/images/projects/echo/listing.png")
        h2.title.title--label Echo Cordless Tools
        h3.title.title--large Online Brand Experience
        p.paragraph We were asked to bring life to a business model. Meet Stuart, an on-demand delivery service we built and designed from scratch.
        a.link.link--focal(src="#") View Case Study
      div(class="grid__cell 1/3--lap-and-up")
        .image: img(src="/assets/images/projects/echo/listing.png")
        h2.title.title--label Online Brand Experience
        h3.title.title--large Echo Cordless Tools
        p.paragraph We were asked to bring life to a business model. Meet Stuart, an on-demand delivery service we built and designed from scratch.
        a.link.link--focal(src="#") View Case Study

  include /includes/_footer


  //- .browser: img.browser__content(src="/assets/images/projects/echo/feature-detail.jpg")

  include /includes/_closing-scripts
 
