@import url(/bower_components/animsition/dist/css/animsition.min.css);
@import url(../fonts/social/ss-social-circle.css);
@-webkit-keyframes introFade-top {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@-moz-keyframes introFade-top {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@-o-keyframes introFade-top {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@keyframes introFade-top {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@-webkit-keyframes introFade-right {
  0% {
    opacity: 0;
    transform: translate3d(-70px, 0, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@-moz-keyframes introFade-right {
  0% {
    opacity: 0;
    transform: translate3d(-70px, 0, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@-o-keyframes introFade-right {
  0% {
    opacity: 0;
    transform: translate3d(-70px, 0, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@keyframes introFade-right {
  0% {
    opacity: 0;
    transform: translate3d(-70px, 0, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@-webkit-keyframes introFade-left {
  0% {
    opacity: 0;
    transform: translate3d(70px, 0, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@-moz-keyframes introFade-left {
  0% {
    opacity: 0;
    transform: translate3d(70px, 0, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@-o-keyframes introFade-left {
  0% {
    opacity: 0;
    transform: translate3d(70px, 0, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@keyframes introFade-left {
  0% {
    opacity: 0;
    transform: translate3d(70px, 0, 0); }
  100% {
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  position: relative; }

::selection {
  background-color: #FFCD01;
  color: #fff; }

::-moz-selection {
  background-color: #FFCD01;
  color: #fff; }

.js-bp-check {
  display: none !important;
  z-index: 0; }
  @media (min-width: 401px) {
    .js-bp-check {
      z-index: 1; } }
  @media (min-width: 901px) {
    .js-bp-check {
      z-index: 2; } }
  @media (min-width: 1101px) {
    .js-bp-check {
      z-index: 3; } }

body {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background: #F4F4F4;
  color: #4d4f5d;
  font-size: 16px;
  font-family: "ff-meta-serif-web-pro", Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-style: normal; }
  body:before,
  body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }
  body {
    *zoom: 1; }
  @media (min-width: 901px) {
    body {
      font-size: 20px; } }

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px; }
  .container:before,
  .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  .container {
    *zoom: 1; }
  @media (min-width: 901px) {
    .container {
      padding: 0 40px; } }

.animsition-loading {
  background-image: url(/assets/images/loading4.gif); }
  .animsition-loading:after {
    color: #939499;
    font-size: 12px;
    padding: 20px 0 0 0;
    font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase; }

h1 {
  font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.65em;
  margin-bottom: 20px; }
  @media (min-width: 901px) {
    h1 {
      text-align: center; } }

h2 {
  font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 19px;
  font-size: 1.2em;
  color: rgba(37, 42, 45, 0.2); }
  h2.intro {
    font-size: 0.6em; }

h3 {
  font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7em;
  color: #FFCD01; }
  h3.intro {
    color: rgba(37, 42, 45, 0.2);
    font-size: 0.6em; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-size: 1em;
  line-height: 1.8em;
  max-width: 540px; }
  p.center {
    max-width: none; }
    @media (min-width: 901px) {
      p.center {
        text-align: center; } }
  p a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #939499;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out; }
    p a:hover {
      padding-bottom: 2px;
      border-bottom-color: #FFCD01;
      border-bottom-width: 3px; }

a.btn {
  display: inline-block;
  text-align: center;
  padding: 18px 36px;
  margin: 20px 0;
  border: 2px solid #FFCD01;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
  border-radius: 2px;
  font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.9em; }
  a.btn:hover {
    background: #FFCD01;
    color: #22242C;
    transform: scale(1.03); }
  a.btn:active {
    transform: scale(0.98); }

blockquote {
  padding: 60px 0;
  text-align: center; }
  blockquote p {
    text-indent: -1.4em;
    font-size: 1.5em;
    line-height: 1;
    font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    max-width: 800px; }
    blockquote p:before {
      content: '\201C';
      padding: 0.2em;
      font-size: 1.8em;
      vertical-align: -0.2em;
      color: rgba(0, 0, 0, 0.3); }
    blockquote p:after {
      content: '\201D';
      padding: 0.2em;
      font-size: 1.8em;
      vertical-align: -0.2em;
      color: rgba(0, 0, 0, 0.3); }
  blockquote cite {
    font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin: 20px 0 0 0;
    line-height: 1.2em; }
    blockquote cite img {
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2px #000;
      height: 50px;
      margin: 0 auto 10px auto;
      display: block; }
    blockquote cite span {
      display: block;
      color: rgba(0, 0, 0, 0.4);
      font-size: 0.8em; }

footer section.copyright {
  background: #000;
  padding: 20px 0;
  font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8em;
  text-align: center;
  color: #4d4f5d; }
  footer section.copyright a {
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out; }
    footer section.copyright a:hover {
      color: #FFCD01; }
    footer section.copyright a:active {
      color: #fff; }
  footer section.copyright .left, footer section.copyright .right {
    padding: 10px; }
  @media (min-width: 1101px) {
    footer section.copyright {
      font-size: 0.8em; }
      footer section.copyright .left {
        float: left; }
      footer section.copyright .right {
        float: right; } }

footer section.colophon {
  display: none;
  padding: 200px 0 80px 0;
  background: #000;
  color: #4d4f5d; }

section.connect {
  background: #4d4f5d url(/assets/images/bg-connect.jpg) center center;
  background-size: cover;
  padding: 160px 0 240px 0;
  color: #fff; }
  section.connect .container {
    max-width: 620px; }
  section.connect h2 {
    color: #FFCD01; }
  section.connect a.btn {
    color: #fff;
    width: 100%;
    background: #22242C;
    border: none; }
    section.connect a.btn:hover {
      background: #FFCD01;
      color: #22242C; }
  section.connect .social {
    text-align: center;
    padding: 20px 0; }
    section.connect .social a {
      display: inline-block;
      padding: 14px 8px 0px 8px;
      font-size: 30px;
      color: #22242C;
      transition-duration: 0.2s;
      transition-property: all;
      transition-timing-function: ease-out; }
      section.connect .social a:hover {
        color: #FFCD01;
        transform: scale(1.03); }
      section.connect .social a:active {
        color: #fff;
        transform: scale(0.98); }
      section.connect .social a span {
        font: 0/0 a;
        text-shadow: none;
        color: transparent; }

@media (min-width: 401px) {
  section.connect a.btn {
    width: auto; }
  section.connect .social {
    float: right; } }

nav {
  z-index: 6000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.96);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.06);
  height: 62px; }
  nav .brand {
    width: 30px;
    margin: 20px auto 0 auto;
    display: block;
    opacity: 0.1; }
  nav .link {
    padding: 9px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 40px;
    width: 40px;
    top: 11px;
    position: absolute;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out; }
    nav .link img {
      opacity: 0.6;
      transition-duration: 0.2s;
      transition-property: all;
      transition-timing-function: ease-out; }
    nav .link.back {
      left: 14px; }
      nav .link.back img {
        height: 20px;
        padding: 1px 0px 0 4px; }
    nav .link.connect {
      right: 14px; }
      nav .link.connect img {
        height: 22px;
        padding: 0; }
    nav .link:hover {
      transform: scale(1.1);
      box-shadow: 0px 0px 0px 2px #000; }
      nav .link:hover img {
        opacity: 1; }
    nav .link:active {
      transform: scale(0.9); }

section.project-tiles {
  padding: 70px 0; }
  section.project-tiles .container {
    padding: 0 30px; }
  section.project-tiles h3.intro {
    margin-left: 10px; }
  section.project-tiles .brands {
    display: none;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    opacity: 0.4;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out; }
    section.project-tiles .brands:hover {
      opacity: 0.6; }
    @media (min-width: 901px) {
      section.project-tiles .brands {
        display: block; } }
  section.project-tiles .project-listing .project {
    background: #939499;
    height: 450px;
    display: block;
    margin: 1%;
    overflow: hidden;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out;
    border-radius: 2px; }
    section.project-tiles .project-listing .project .description {
      color: #fff;
      padding: 40px; }
      section.project-tiles .project-listing .project .description h2 {
        font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-style: normal;
        text-transform: none;
        font-size: 1.65em;
        text-align: center;
        margin-bottom: 10px; }
      section.project-tiles .project-listing .project .description p {
        font-size: 0.8em;
        line-height: 1.5em;
        text-align: center;
        opacity: 0.8;
        max-width: none; }
    section.project-tiles .project-listing .project .preview {
      position: absolute;
      left: 6%; }
    @media (min-width: 901px) {
      section.project-tiles .project-listing .project .preview {
        left: 0;
        right: 0;
        margin: 0 auto; } }
    @media (min-width: 1101px) {
      section.project-tiles .project-listing .project {
        float: left; }
        section.project-tiles .project-listing .project .preview {
          bottom: -190px;
          left: 0;
          right: 0; }
        section.project-tiles .project-listing .project.hero {
          width: 98%;
          height: 360px; }
          section.project-tiles .project-listing .project.hero .description {
            text-align: left;
            width: 400px;
            top: 13%;
            left: 1%; }
            section.project-tiles .project-listing .project.hero .description h2 {
              text-align: left; }
            section.project-tiles .project-listing .project.hero .description p {
              text-align: left; }
          section.project-tiles .project-listing .project.hero .preview {
            right: 2%;
            bottom: -170px;
            left: auto; }
        section.project-tiles .project-listing .project.large {
          width: 58%; }
        section.project-tiles .project-listing .project.medium {
          width: 48%; }
        section.project-tiles .project-listing .project.small {
          width: 38%; }
          section.project-tiles .project-listing .project.small .preview {
            bottom: -190px;
            left: 6%; } }
    section.project-tiles .project-listing .project.project-echo {
      background: #0F1B26 url(/assets/images/projects/echo/hero-bg.jpg); }
      section.project-tiles .project-listing .project.project-echo h2 {
        color: #fff; }
      section.project-tiles .project-listing .project.project-echo .description {
        color: #fff; }
    section.project-tiles .project-listing .project.project-zenjuries {
      background: #2481b7 url(/assets/images/projects/zenjuries/hero-bg.jpg); }
      section.project-tiles .project-listing .project.project-zenjuries h2 {
        color: #fff; }
      section.project-tiles .project-listing .project.project-zenjuries .description {
        color: #fff; }
      section.project-tiles .project-listing .project.project-zenjuries .preview {
        right: -8%;
        bottom: -20px;
        left: auto !important; }
    section.project-tiles .project-listing .project.project-arkiver {
      background: #333335 url(/assets/images/projects/arkiver/listing-bg.jpg) top left; }
      section.project-tiles .project-listing .project.project-arkiver h2 {
        color: #fff; }
      section.project-tiles .project-listing .project.project-arkiver .description {
        color: #fff; }
      section.project-tiles .project-listing .project.project-arkiver .preview {
        bottom: -40px; }
    section.project-tiles .project-listing .project:hover {
      transform: scale(1.03); }
    section.project-tiles .project-listing .project:active {
      transform: scale(0.98); }

body > .wrapper-page.index .wrapper-scrollable {
  box-shadow: 0px -20px 100px 0px #252A2D;
  background: #F4F4F4; }
  @media (max-width: 901px) {
    body > .wrapper-page.index .wrapper-scrollable {
      margin-top: 0 !important; } }

body > .wrapper-page.index header.cover {
  position: static;
  background: #252A2D;
  max-height: 750px; }
  body > .wrapper-page.index header.cover .container {
    height: 100%;
    padding-top: 200px;
    padding-bottom: 100px; }
  body > .wrapper-page.index header.cover .bio {
    max-width: 500px;
    margin: auto;
    color: #fff; }
    body > .wrapper-page.index header.cover .bio h2 {
      color: #FFCD01; }
    body > .wrapper-page.index header.cover .bio p {
      padding: 0 0 20px 0; }
      body > .wrapper-page.index header.cover .bio p a {
        border-bottom-color: #47484A; }
        body > .wrapper-page.index header.cover .bio p a:hover {
          border-bottom-color: #FFCD01; }
      body > .wrapper-page.index header.cover .bio p.closing {
        font-family: "ff-meta-serif-web-pro", Georgia, "Times New Roman", serif;
        font-weight: 700;
        font-style: normal;
        font-style: italic; }
  body > .wrapper-page.index header.cover .scroll-down {
    display: none; }

@media (min-width: 401px) {
  body > .wrapper-page.index header.cover {
    max-height: 600px; } }

@media (min-width: 901px) {
  body > .wrapper-page.index header.cover {
    background: #252A2D url(/assets/images/index3-cover-large.jpg) center center no-repeat;
    height: 860px;
    min-height: 600px;
    max-height: 860px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%; }
    body > .wrapper-page.index header.cover .bio {
      max-width: 460px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 60px;
      bottom: 26%;
      color: #fff; }
    body > .wrapper-page.index header.cover .scroll-down {
      opacity: 0.3;
      transition-duration: 0.2s;
      transition-property: visibility, opacity, bottom;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background: url(/assets/images/icon-scroll.png) no-repeat center center;
      height: 100px;
      width: 100px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: inline-block;
      z-index: 600; }
      body > .wrapper-page.index header.cover .scroll-down:hover, body > .wrapper-page.index header.cover .scroll-down:active {
        opacity: 1;
        bottom: 4px;
        padding-top: 4px; } }

body > .wrapper-page.index section.skills {
  padding: 50px 0 60px 0;
  background: #fff; }
  body > .wrapper-page.index section.skills .tile {
    margin: 10px 0 0 0;
    padding: 0px 40px 14px 26px;
    border-left: 1px solid rgba(37, 42, 45, 0.1); }
    body > .wrapper-page.index section.skills .tile h3 {
      margin-bottom: 16px;
      color: #252A2D; }
      body > .wrapper-page.index section.skills .tile h3 img {
        height: 20px;
        vertical-align: -5px;
        margin-right: 8px;
        margin-left: 2px; }
    body > .wrapper-page.index section.skills .tile p {
      font-size: 0.8em;
      line-height: 1.5em; }
  @media (min-width: 901px) {
    body > .wrapper-page.index section.skills .tile {
      float: left;
      width: 33%; } }

body > .wrapper-page.index section.writing {
  background: #fff;
  padding: 80px 0 100px 0;
  text-align: center; }
  body > .wrapper-page.index section.writing a {
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-out;
    display: block;
    padding: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #F4F4F4; }
    body > .wrapper-page.index section.writing a:before,
    body > .wrapper-page.index section.writing a:after {
      content: " ";
      display: table; }
    body > .wrapper-page.index section.writing a:after {
      clear: both; }
    body > .wrapper-page.index section.writing a {
      *zoom: 1; }
    body > .wrapper-page.index section.writing a h2 {
      font-family: "freight-sans-pro", Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 1.2em;
      margin-bottom: 8px; }
    body > .wrapper-page.index section.writing a .date {
      font-size: 0.8em;
      line-height: 1.5em;
      text-align: center;
      opacity: 0.8; }
    body > .wrapper-page.index section.writing a:first-child {
      border-top: 1px solid #F4F4F4;
      margin-top: 30px; }
    body > .wrapper-page.index section.writing a:hover {
      background: rgba(244, 244, 244, 0.5); }
  @media (min-width: 901px) {
    body > .wrapper-page.index section.writing a h2 {
      float: left; }
    body > .wrapper-page.index section.writing a .date {
      float: right;
      margin: 8px 0 0 0; }
    body > .wrapper-page.index section.writing a:hover {
      padding-left: 44px; } }

body > .wrapper-page.project header {
  padding: 76px 20px 0 20px; }
  @media (min-width: 901px) {
    body > .wrapper-page.project header {
      padding: 10% 20px; } }

body > .wrapper-page.project section.image {
  text-align: center;
  margin-bottom: 100px; }
  body > .wrapper-page.project section.image img {
    max-width: 100%;
    vertical-align: middle; }

body > .wrapper-page.project section.copy {
  margin-top: 0;
  margin-bottom: 60px; }
  body > .wrapper-page.project section.copy p {
    margin-bottom: 50px; }
    body > .wrapper-page.project section.copy p:last-child {
      margin-bottom: 0; }
  @media (min-width: 901px) {
    body > .wrapper-page.project section.copy {
      margin-bottom: 80px; } }

body > .wrapper-page.project section.feature {
  margin-top: 60px;
  margin-bottom: 60px; }
  body > .wrapper-page.project section.feature:before,
  body > .wrapper-page.project section.feature:after {
    content: " ";
    display: table; }
  body > .wrapper-page.project section.feature:after {
    clear: both; }
  body > .wrapper-page.project section.feature {
    *zoom: 1; }
  body > .wrapper-page.project section.feature img {
    max-width: 100%; }
  body > .wrapper-page.project section.feature .description {
    padding-top: 10px; }
  @media (min-width: 901px) {
    body > .wrapper-page.project section.feature {
      margin-top: 100px;
      margin-bottom: 100px; }
      body > .wrapper-page.project section.feature img {
        width: 78%; }
      body > .wrapper-page.project section.feature .description {
        margin-top: 40px;
        width: 18%;
        font-size: 0.8em; }
        body > .wrapper-page.project section.feature .description h3 {
          font-size: 0.8em;
          text-align: left;
          margin-bottom: 10px; }
      body > .wrapper-page.project section.feature.left img {
        float: left; }
      body > .wrapper-page.project section.feature.left .description {
        float: right; }
      body > .wrapper-page.project section.feature.right img {
        float: right; }
      body > .wrapper-page.project section.feature.right .description {
        float: left; } }

body > .wrapper-page.project section.endorsement {
  background: inherit;
  padding: 40px 0 60px 0; }
  body > .wrapper-page.project section.endorsement blockquote p {
    color: #fff; }

body > .wrapper-page.project section.project-tiles {
  background: #fff; }

body > .wrapper-page.project section.lockup {
  padding-top: 50px;
  padding-bottom: 50px; }
  body > .wrapper-page.project section.lockup .feature {
    background: #FFCD01;
    height: 450px;
    display: block;
    margin: 1%;
    overflow: hidden;
    text-decoration: none;
    width: 100%; }
    @media (min-width: 1101px) {
      body > .wrapper-page.project section.lockup .feature {
        float: left; }
        body > .wrapper-page.project section.lockup .feature.hero {
          width: 98%; }
        body > .wrapper-page.project section.lockup .feature.large {
          width: 58%; }
        body > .wrapper-page.project section.lockup .feature.medium {
          width: 48%; }
        body > .wrapper-page.project section.lockup .feature.small {
          width: 38%; }
          body > .wrapper-page.project section.lockup .feature.small .preview {
            bottom: -190px;
            left: 6%; } }

body > .wrapper-page.standard {
  background: #4d4f5d url(/assets/images/bg-connect.jpg) center center;
  background-size: cover; }

body > .wrapper-page.standard section.copy {
  padding-top: 150px;
  padding-bottom: 200px; }
  body > .wrapper-page.standard section.copy h1 {
    color: #fff;
    text-align: left; }
  body > .wrapper-page.standard section.copy h2 {
    color: #FFCD01; }
  body > .wrapper-page.standard section.copy p {
    color: #fff;
    margin-bottom: 50px; }
    body > .wrapper-page.standard section.copy p:last-child {
      margin-bottom: 0; }
  @media (min-width: 901px) {
    body > .wrapper-page.standard section.copy {
      margin-bottom: 80px; } }
