.c-page
  header.c-wrapper.c-wrapper--masked.c-wrapper--header.c-wrapper--light-purple: .c-container
    p.c-paragraph Hello! <span class="u-subtle">&mdash;</span> My name is Andrew McIntee. I’m an Atlanta-based software designer specializing in UI design &amp; front-end engineering. I enjoy working with positive people who sweat the small details and share the same passion for pragmatic and thoughtful design.
    //- p.c-paragraph Types of projects I can bring the most value in, what my process is
    //- p.c-paragraph Hi, my name is Andrew McIntee. I’m a Atlanta-based software designer specializing in UI design &amp; front-end engineering.
    //- p.c-paragraph The small details and share the same passion for pragmatic and thoughtful design.
    //- p.c-paragraph I'm available for contract work beginning September 2017.
    //- p.c-paragraph
    //-   span.c-emoji 🚀
    //-   &nbsp; Contact me at <a class="c-link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a> or by phone at <a class="c-link" href="mailto:studio@andrew.mn">(864) 915 0648</a>.
    p.c-paragraph Beginning September 2017, I am available for contract engagements.<br/>Full-time opportunites for 2018 are warmly welcomed.
    .c-grid.u-margin-vertical(style="width: 680px;")
      div(class="c-grid__cell 1/3--lap")
        h2.c-title.c-title--small.u-margin-top-small Navigation
        ul.c-list.c-list--rocket
          li.c-list__item <a class="c-link c-link--arrow-r u-hi" href="/about/work#🚀">Featured Work</a>
          li.c-list__item <a class="c-link c-link--arrow-r" href="/about/resume#🚀">Resume</a>
      div(class="c-grid__cell 2/3--lap")
        h2.c-title.c-title--small.u-margin-top-small Current Projects
        ul.c-list.c-list--sparkle
          li.c-list__item Brand &amp; design consultation for a mutual fund
          li.c-list__item Developing a cryptocurrency trading bot in Ruby
    p.c-paragraph.c-paragraph--sans.c-paragraph--small
      span.c-emoji 📬
      &nbsp; Contact me at <a class="c-link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a> or by phone at <a class="c-link" href="mailto:studio@andrew.mn">(864) 915 0648</a>.
