section.c-wrapper: .c-container
  p.c-title--smallest.u-margin-vertical-smallest
     span.c-emoji 🎉
     &nbsp; Thanks for visiting. Have a great day.
  p.c-paragraph--small
     &nbsp; &copy; Andrew McIntee 2017.
