section.wrapper: .container
  p.title--smallest.u-margin-vertical-smallest
     span.emoji 🎉
     &nbsp; Thanks for visiting. Have a great day.
  p.paragraph--small.u-margin-vertical-smallest
     &nbsp; &copy; Andrew McIntee 2017.
