header.c-wrapper.c-wrapper--light-blue: .c-container
  p.c-paragraph Hi, my name is Andrew McIntee. I’m a Atlanta-based software designer specializing in UI design &amp; front-end engineering. I enjoy working with positive people who sweat the small details and share the same passion for pragmatic and thoughtful design.
  p.c-paragraph
    span.c-emoji 🚀
    &nbsp; Contact me at <a class="c-link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a> or by phone at <a class="c-link" href="mailto:studio@andrew.mn">(864) 915 0648</a>.
