header.wrapper.wrapper--light-blue: .container
  p.paragraph Hi, my name is Andrew McIntee. I’m a Atlanta-based software designer specializing in UI design &amp; front-end engineering. I enjoy working with positive people who sweat the small details and share the same passion for pragmatic and thoughtful design.
  p.paragraph
    span.emoji 🚀
    &nbsp; Contact me at <a class="link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a> or by phone at <a class="link" href="mailto:studio@andrew.mn">(864) 915 0648</a>.
//- nav.wrapper.wrapper--sticky.wrapper--transparent-blue.wrapper--flush
  ul.navigation
    li.navigation__item: a.navigation__link.navigation__link--active(href="/resume") Resume
    li.navigation__item: a.navigation__link(href="/work") Work
