

section.endorsements {
  background: rgba($c-yellow, 0.8);
  margin-top: -22px;
  padding: 20px 0 10px 0;
  
  blockquote p:before, blockquote p:after, blockquote cite span {
  	color: $c-yellow-dark;
  }

}
