

section.projects {
	padding: 40px 0;
	.project-listing {
		.project {
			background:$c-yellow;
			height: 450px;
			display: block;
			margin:1%;
			overflow: hidden;
			text-decoration:none;
			transition: all .2s ease-in-out;
			.description {
				color:#fff;
				padding:40px;
				h2 {
					text-transform: none;
					font-size: em(33px);
					text-align: center;
					margin-bottom: 10px;
				}
				p {
					font-size: em(16px);
					line-height: em(30px);
					text-align: center;
					opacity:0.8;
				}
			}
			.preview {
				position: absolute;
				left:6%;
			}
			@include media($bp-medium) {
				.preview {
					left:0;
					right:0;
					margin:0 auto;
				}
			}
			//----------- Layout States
			@include media($bp-large) {
				float: left;
				.preview {
					bottom: -190px;
					left:0;
					right:0;
				}
				&.hero {
					width: 98%;
					height: 360px;
					.description {
						h2 { text-align: left; }
						p { text-align: left; }
						text-align: left;
						width: 400px;
						top:20%;
						left:1%;
					}
					.preview {
						right: 2%;
						bottom: -170px;
						left: auto;
					}
				}
				&.large {
					width: 58%;
				}
				&.medium {
					width: 48%;
				}
				&.small {
					width: 38%;
					.preview {
						bottom: -190px;
						left:6%;
					}
				}
			}
			//----------- Project Specific

			&.project-echo {
				background-color: #262f38;
				&:hover {
					background-color: darken(#262f38, 4%);
				}
			}

			//----------------------------------
			&:hover {
				transform: scale(1.01);
			}
		}
	}


}
