

section.skills {
	padding: 50px 0 60px 0;
	background: $c-yellow;

	h2.intro {
		color: $c-yellow-dark;
	}
	.tile {
		float: left;
		width: 33%;
		margin:10px 0 0 0;
		padding:0px 40px 14px 26px;
		border-left: 1px solid rgba($c-yellow-dark,0.3);
		h3 {
			margin-bottom: 16px;
			color: $c-grey-dark;
			img {
				height: 20px;
		    vertical-align: -5px;
        margin-right: 8px;
		    margin-left: 2px;
		  }
		}
		p {
			color: $c-yellow-dark;
			font-size: em(16px);
			line-height: em(30px);
		}
	}

}