

section.skills {
	// padding: 50px 0 60px 0;
	// background: $c-yellow;
	background:#fff;
	.container {
		padding-top:50px;
		padding-bottom:60px;
	}

	h2.intro {
		// color: $c-yellow-dark;
	}

	.primary {
		h2 { color: $c-yellow; }
		margin:0 auto;
		// margin-right:30px;
	}

	.secondary {
		margin:50px auto 0 auto;
		h3.intro {
			margin-left:10px;
		}
		.strengths {
			@include clearfix;
			.strength {
				padding:10px;
				.icon {
					height: 120px;
					border-radius:$border-radius;
					@include transition-hover;
					img {
						width: 86px;
						position: absolute;
						left:0;
						right:0;
						bottom:0;
						top:0;
						margin:auto;
						opacity: 0.1;
					}
					&.s1 {
						background:rgba($c-grey-dark,0.15);
					}
					&.s2 {
						background:rgba($c-grey-dark,0.11);
					}
					&.s3 {
						background:rgba($c-grey-dark,0.07);
					}
					&.s4 {
						background:rgba($c-grey-dark,0.05);
					}
				}
				h3 {
					color: $c-grey-light;
					font-size: em(12px);
					padding	:10px;
					text-align: center;
					line-height: 1.4em
				}
			}
		}
	}

}
@include media($bp-medium) {
	section.skills {
		.primary {
			width: 540px;
		}
		.secondary {
			width: 540px;
			.strengths .strength {
				float: left;
				width:25%;
			}
		}
	}
}


@include media($bp-large) {
	section.skills {
		.container {
			background: url('/assets/images/bg-skillset.png') left center no-repeat;
		}
		.primary {
			float: left;
			margin: 0 30px 0 0;
		}
		.secondary {
			width: 650px;
			margin:0;
			float: right;
		}
	}
}