section.c-wrapper.u-padding-top: .c-container
  if (breadcrumb.length > 1)
    a.c-button.c-button--arrow-l.c-button--large.u-margin-bottom(href="/about/#{breadcrumb[0].path}/#🚀") Back to #{breadcrumb[0].name}
  p.c-title--smallest.u-margin-vertical-smallest
    span.c-emoji 🎉
    &nbsp;&nbsp;Thanks&nbsp;for&nbsp;visiting. Have&nbsp;a&nbsp;great&nbsp;day.
    span.u-subtle.u-margin-left-smallest
      a.c-link(href="mailto:Studio@Andrew.mn") Studio@Andrew.mn

  p.c-paragraph--small.u-margin-vertical-smallest
     &nbsp; &copy; Andrew McIntee 2017.
  p.c-paragraph--small.u-margin-top-smallest
     span.u-subtler.u-margin-left-smallest v2.0.0alpha
