section.writing#writing

	//- --------------------
	h1 Writing
	//- p.center Yada yada yada

	//- --------------------
	.writing-listing.container
		a(href="#")
			h2 Thoughts On Vulnerability And Human Connection
			.date May 2015
		a(href="#")
			h2 Thoughts On Vulnerability And Human Connection
			.date May 2015
		a(href="#")
			h2 Thoughts On Vulnerability And Human Connection
			.date May 2015