

doctype html
html(lang="en")
  head
    title="Andrew McIntee Is A User Interface Designer & Web Developer"

    //--

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/assets/images/favicon-v2.ico")

    //--

    link(rel="stylesheet" href="/assets/stylesheets/main.css")

    //--
    
    // bower:js
    script(src='../../bower_components/jquery/dist/jquery.js')
    script(src='../../bower_components/console-polyfill/index.js')
    script(src='../../bower_components/html5shiv/dist/html5shiv.js')
    script(src='../../bower_components/skrollr/src/skrollr.js')
    script(src='../../bower_components/headroom.js/dist/headroom.js')
    script(src='../../bower_components/headroom.js/dist/jQuery.headroom.js')
    script(src='../../bower_components/headroom.js/dist/angular.headroom.js')
    script(src='../../bower_components/sticky-kit/jquery.sticky-kit.js')
    script(src='../../bower_components/get-style-property/get-style-property.js')
    script(src='../../bower_components/get-size/get-size.js')
    script(src='../../bower_components/eventie/eventie.js')
    script(src='../../bower_components/doc-ready/doc-ready.js')
    script(src='../../bower_components/eventEmitter/EventEmitter.js')
    script(src='../../bower_components/matches-selector/matches-selector.js')
    script(src='../../bower_components/fizzy-ui-utils/utils.js')
    script(src='../../bower_components/outlayer/item.js')
    script(src='../../bower_components/outlayer/outlayer.js')
    script(src='../../bower_components/masonry/masonry.js')
    script(src='../../bower_components/animsition/dist/js/jquery.animsition.js')
    script(src='../../bower_components/animsition/dist/js/jquery.animsition.min.js')
    // endbower
    script(type="text/javascript" src="/assets/scripts/main.js")

    //--

    script(type="text/javascript" src="//use.typekit.net/qfv8roj.js")
    script(type='text/javascript').
      try{Typekit.load();}catch(e){}
