

nav
	img.brand(src="/assets/images/brand-projectnav2.png")
	a.link.back(href="/").animsition-link
		img(src="/assets/images/icon-back.svg")
	a.link.connect(href="/#connect").animsition-link
		img(src="/assets/images/icon-connect.svg")