.c-button {
  border: 1px solid transparent;
  border-radius: 1000px;
  color: $c-grey-medium;
  display: inline-block;
  font: 600 14px / 1 $ff-primary;
  padding: 10px 0;
  text-decoration: none;
  transition: all 0.4s ease-out;

  &:focus,
  &:active,
  &:hover {
    border-color: rgba($c-primary, 0.2);
    color: $c-primary;
    padding-left: 16px;
    padding-right: 16px;
    transition: all 0.05s linear;
    margin-left: -16px;
    // background: $c-light-blue;
  }

  &:focus,
  &:active {
    background: $c-primary;
    border-color: $c-primary;
    color: #ffffff;
  }

  &--arrow-r {
    cursor: e-resize;

    &::after {
      content: ' \2192';
      opacity: 0.4;
      transition: all 0.1s ease-in-out;
    }

    &:focus::after,
    &:active::after,
    &:hover::after {
      opacity: 1;
    }
  }

  &--disabled {
    cursor: not-allowed;

    &:focus,
    &:active,
    &:hover {
      // color: darken($c-light-blue, 30%);
    }
  }
}
