.c-header {
  margin: 0;
  padding: 120px 6% 60px;
  position: relative;

  @media #{$bp-lap} {
    padding: 160px 9% 100px;
  }

  &__background {
    @keyframes float {
      0% {
        transform: scaleY(1);
      }
      50% {
        transform: scaleY(0.96);
      }
      100% {
        transform: scaleY(1);
      }
    }

    @keyframes float-mask {
      0% {
        background-position: 0% bottom;
      }
      50% {
        background-position: 100% bottom;
      }
      100% {
        background-position: 0% bottom;
      }
    }

    content: "";
    transform-origin: top;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: $c-light-blue linear-gradient(to bottom, #f9fbf9 0%, $c-light-blue 100%);
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) float infinite;

    &::after {
      background-image: url("../../images/c-wrapper-mask.svg");
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      background-repeat: repeat-x;
      background-position: 0% bottom;
      height: 25px;
      bottom: -1px;
      background-size: cover;
      animation: 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) float-mask infinite;
    }
  }

  &__content {
    z-index: +1;
    position: relative;

    & > * {
      @keyframes fade-in {
        0% {
          transform: translateY(10px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      animation: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) fade-in;
    }
  }
}
