.c-list {
  list-style: none inside;
  margin: 0 0 20px;
  padding: 0;

  .c-list__item {
    font-size: 16px;
    line-height: 1.5;
    margin: 2px 0 10px;


    &::before {
      content: '-';

      margin: 0 10px 0 0px;
    }

    @media #{$bp-lap} {
      font-size: 14px;
      margin: 0 0 5px;

      &::before {
        margin: 0 8px 0 0;
      }
    }

    > .c-list {
      margin: 10px 0 10px 20px;
    }
  }

  &--rocket .c-list__item::before { content: '🚀'; }
  &--sparkle .c-list__item::before { content: '✨'; }
}
