.c-list {
  list-style: none inside;
  margin: 0 0 20px;
  padding: 0;

  .c-list__item {
    font-size: 13px;
    line-height: 1.6;
    margin: 2px 0 10px;
    @media #{$bp-lap} { line-height: 1.7; }


    &::before {
      content: '-';

      margin: 0 10px 0 -15px;
    }

    @media #{$bp-lap} {
      font-size: 14px;
      margin: 0 0 5px;

      &::before {
        margin: 0 8px 0 0;
      }
    }

    > .c-list {
      margin: 10px 0 10px 20px;
    }
  }

  &--large .c-list__item {
    font-size: 16px;
    @media #{$bp-lap} { font-size: 16px; }
  }

  @mixin emoji-spacing {
    font-size: 135%;
    vertical-align: middle;
    // margin: 0px 3px 5px -24px;

    margin: 0px 9px 5px -33px;
    @media #{$bp-lap} {
    }
  }

  &--rocket .c-list__item::before { content: '🚀'; font-size: 135%; @include emoji-spacing; }
  &--sparkle .c-list__item::before { content: '✨'; font-size: 135%; @include emoji-spacing; }
  &--glove .c-list__item::before { content: '🧤'; font-size: 135%; @include emoji-spacing; }
  &--measure .c-list__item::before { content: '📐'; font-size: 135%; @include emoji-spacing; }
}
