.c-link {
  $faded-color: rgba($c-tertiary, 0.4);

  color: $c-grey-medium;
  position: relative;
  text-decoration: none;
  // transition: all 0.1s ease-in-out;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;

  &::before {
    background: $faded-color;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    transition: all 0.1s ease-in-out;
    width: 100%;
  }

  &[href]:hover {
    background: #ffffff;
    color: $c-primary;

    &::before {
      background: $c-primary;
      transform: translateY(2px);
    }
  }

  &--arrow-l {
    cursor: w-resize;
  }

  &--arrow-r {
    cursor: e-resize;
  }

  &--active {
    background: #ffffff;
    color: $c-primary;
  }

  &--focal {
    font-size: 16px;

    &::after {
      content: "\2192";
      margin: 0 0 0 2px;
      color: $faded-color;
      transition: all 0.1s ease-in-out;
    }

    &[href]:hover::after {
      margin: 0 0 0 6px;
      color: $c-primary;
    }
  }
}
