.c-navigation {
  left: 0;
  top: 0;
  position: fixed;
  right: 0;
  width: 100%;
  padding: 0.5% 6%;
  box-sizing: border-box;
  background: #ffffff;
  z-index: 99999;
  color: #efd7ce;
  font: 500 14px / 1.8 $ff-primary;
}
