
// Only rollover if content is touched
// .c-navigation {pointer-events: none;}
// .c-navigation__container {pointer-events: all;}

.c-navigation {
  $border-height: 4px;

  z-index: 99999;
  opacity: 1;
  animation: 2s ease fade;
  font: 400 14px / 1.8 $ff-primary;
  position: fixed;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  color: rgba(#000000, 0.2);
  background: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // background: var(--theme);
    background: #ffffff;
    transition: background-color 0.25s cubic-bezier(0.35, 0.46, 0.45, 1), height 0.15s cubic-bezier(0.35, 0.46, 0.45, 1);
    opacity: 0.99;
    z-index: -1;
    height: 0;
    will-change: height, background-position;
    z-index: $z-3;
    transition-delay: 0.5s;

    @media #{$bp-touch} {
      height: 100%;
    }
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    // background: linear-gradient(to top, transparent 20%, #ffffff 90%);
    background: linear-gradient(to top, var(--theme) 10%, rgba(darken($c-primary, 50%), 0.2) 100%);
    transition: all 1s cubic-bezier(0.35, 0.46, 0.45, 1);
    opacity: 0;
    will-change: opacity;
    visibility: hidden;
    pointer-events: none;
    z-index: $z-2;
    transition-delay: 0.2s;
  }

  &:hover {
    color: green;
    &::before {
      transition-delay: unset;
      height: 100%;
    }

    &::after {
      transition-delay: unset;
      transition: all 0.8s cubic-bezier(0.35, 0.46, 0.45, 1);
      opacity: 0.5;
      visibility: visible;
    }
  }

  @media #{$bp-lap} {
    padding: 0;
    // background: transparent linear-gradient(to bottom, rgba(#ffffff, 1) 0%, transparent 50%, transparent 100%);
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .c-navigation__container {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    color: rgba($c-grey-medium, 0.2);
    z-index: $z-4;
    padding: 2vh 6vw;

    @media #{$bp-lap} { padding: 2vh 1.5vw; }
  }

  .c-navigation__breadcrumb-link {
    font: 400 15px / 1.8 $ff-primary;
    color: $c-grey-medium;
    cursor: w-resize;
    position: relative;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
    display: inline-block;

    &::after {
      background: $c-grey-medium;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      transition: all 0.1s ease-in-out;
      width: 100%;
      opacity: 0.1;
    }

    &:hover {
      &::after {
        opacity: 0.3;
        bottom: 3px;
      }
    }

    &--static {
      cursor: default;

      &::after { opacity: 0; }

      &:hover::after { bottom: 0; opacity: 0; }
    }
  }
}
