.c-page {
  $_navigation-width: 16vw;

  background: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media #{$bp-lap} {
    flex-direction: row;
    // margin-bottom: 93vh;
  }

  .c-page__navigation {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    // .c-page__navigation-aesthetic {
    //   background: var(--theme);
    //   width: 100%;
    //   height: 10px;
    // }

    @media #{$bp-lap} {
      border-right: 1px rgba(0,0,0,0.05) solid;
      width: $_navigation-width;
      position: sticky;
      top: 0;
      align-self: flex-start;
      height: 100vh;
      padding: $s-regular $s-regular 0 $s-large;
    }
  }

  .c-page__content {
    @media #{$bp-lap} {
      width: calc(100% - #{$_navigation-width});
      display: flex;
      flex-direction: column;
    }
  }

  .c-page__footer {
    padding: $s-regular 0;
    background: #f1f9fc;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media #{$bp-lap} {
      height: 100vh;
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
    }
  }
}
