.c-paragraph {
  color: #4d4f5d;
  font: 500 20px / 1.8 $ff-secondary;
  margin: 0 0 25px;
  max-width: 640px;
  padding: 0;

  &--small {
    font-size: 14px;
    margin: 0 0 10px;
  }

  &--medium {
    color: #727779;
    font-size: 16px;
  }

  &--sans {
    font-family: $ff-primary;
  }
}
