.c-paragraph {
  color: #434551;
  font: 400 24px / 1.7 $ff-secondary;
  margin: 0 0 25px;
  max-width: 680px;
  padding: 0;

  &--smallest {
    font-size: 12px;
    margin: 0 0 10px;
  }

  &--small {
    font-size: 14px;
    margin: 0 0 10px;
  }

  &--medium {
    color: #727779;
    font-size: 16px;
  }

  &--sans {
    font-family: $ff-primary;
  }

  &--quote {
    max-width: none;
    font: 500 18px / 1.9 $ff-secondary;
    font-style: italic;

    &::before {
      content: open-quote;
      font: 500 40px / 0 $ff-secondary;
      margin: 0px 7px 0 -25px;
      opacity: 0.3;
    }
  }

  &--large {
    color: #2c2d35;
    font: 400 44px / 1.4 $ff-display;
    max-width: 980px;
    margin: 0 0 45px;
  }

  &--xlarge {
    color: #2c2d35;
    font: 400 52px / 1.4 $ff-display;
    max-width: none;
  }
}
