.c-title {
  margin: 0 0 10px;
  word-wrap: break-word;

  .c-title__subtle {
    font-size: 65%;
    font-weight: 400;
    margin: 0 8px;
    opacity: 0.5;
    vertical-align: baseline;
  }

  &--xlarge {
    font: 400 30px / 1.2 $ff-primary;
    // color: #6a5ef5;
    // color: #508897;

    @media #{$bp-lap} {
      font: 400 76px / 1.2 $ff-display;
    }

    .c-title__subtle {
      font-size: 14px;
      color: #333;
    }
  }

  &--large {
    font: 400 22px / 1.4 $ff-primary;
    margin: 0 0 $s-small;
    color: #6a5ef5;
    // color: #508897;

    @media #{$bp-lap} {
      font: 400 32px / 1.4 $ff-primary;
      .c-title__subtle { font-size: 50%; }
    }

  }

  &--medium {
    font: 400 30px / 1.8 $ff-display;
    // color: #6a5ef5;
  }

  &--small {
    font: 400 16px / 1.8 $ff-primary;
    letter-spacing: 0;

    @media #{$bp-lap} {
      font: 500 16px / 1.8 $ff-primary;
    }
  }

  &--smallest {
    font: 400 16px / 1.8 $ff-primary;
    letter-spacing: 0;
    opacity: 0.9;
  }

  &--label {
    display: block;
    font: 400 10px / 1.2 $ff-primary;
    letter-spacing: 1px;
    opacity: .7;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &--flush {
    margin: 0;
    padding: 0;
  }
}
