.c-wrapper {
  margin: 0;
  padding: 60px 6%;

  @media #{$bp-lap} { padding: 80px 6%; }
  @media #{$bp-desk} { padding: 140px 6%; }

  &--header {
    min-height: 300px;
    padding-bottom: 70px;
    padding-top: 170px;
  }

  &--footer {
    bottom: 0;
    left: 0;
    padding-bottom: 100px;
    position: fixed;
    right: 0;
    z-index: -1;
  }

  &--slim {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  &--slimmest {
    padding-bottom: 15px;
    padding-top: 15px;
  }

  &--flush {
    padding-bottom: 0;
    padding-top: 0;
  }

  &--white { background: #ffffff; }
  &--light-blue { background: $c-light-blue linear-gradient(to bottom, #f9fbf9 0%, $c-light-blue 100%); }
  &--light-purple { background: #faf6ff linear-gradient(to bottom, #fffeff 0%, #f3f4ff 100%); }
  &--light { background: $c-tertiary-light; }
}
