// .u-border-light {
//   $border-value: 1px solid $c-border-light !important;

//   &-horizontal {
//     border-top: $border-value;
//     border-bottom: $border-value;
//   }

//   &-left { border-left: $border-value; }
//   &-right { border-right: $border-value; }
//   &-bottom { border-bottom: $border-value; }
//   &-top { border-top: $border-value; }
// }

.u-border {
  $border-value: 1px solid #F4F4F4 !important;
  border: $border-value;

  &-horizontal {
    border-top: $border-value;
    border-bottom: $border-value;
  }

  &-left { border-left: $border-value; }
  &-right { border-right: $border-value; }
  &-bottom { border-bottom: $border-value; }
  &-top { border-top: $border-value; }

  &-none { border: none !important; }
  &-left-none { border-left: none !important; }
  &-right-none { border-right: none !important; }
  &-bottom-none { border-bottom: none !important; }
  &-top-none { border-top: none !important; }
}
