include includes/_head
    
body
  .wrapper-page.index
    include includes/index/_cover
    #content.wrapper-scrollable
      //- include includes/index/_endorsements
      include includes/index/_projects
      //- include includes/index/_writing
      
    include includes/_connect
    include includes/_footer
      //- include includes/index/_thanks

 
  include includes/_closing-scripts