include /includes/_head
    
body
  //- include /includes/_nav

  .page
    header.wrapper.wrapper--light-blue: .container
      p.paragraph Hello! <span class="subtle">&mdash;</span> My name is Andrew McIntee. I’m a Atlanta-based software designer with specialties in UI design &amp; front-end engineering. 
      p.paragraph Formerly at <a class="link" href="http://organic.com">Organic</a> and followed by running my own consultancy, I now work with <a class="link" href="http://theironyard.com">The Iron Yard</a> building an online classroom experience. I’m interested in social inclusivity, design systems, and the outdoors.
      p.paragraph 🎉&nbsp;&nbsp;Thanks for dropping by. Contact me by email at <a class="link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a>.

  //- include /includes/_footer
  //- include includes/_closing-scripts
 
