include /includes/_head
    
body
  .c-page
    header.c-wrapper.c-wrapper--light-blue.c-wrapper--masked: .c-container.u-animate-in
      h1.c-paragraph
        span.c-emoji.c-emoji--in-margin 🌤
        &nbsp;&nbsp;<em>Hello!</em> <span class="u-subtle">&mdash;</span> My name is Andrew McIntee. I’m an Atlanta-based software designer with specialties in UI design &amp; front-end engineering. 
      //- p.c-paragraph Formerly at <a class="c-link" href="http://organic.com">Organic</a> and followed by founding a consultancy, I now work with <a class="c-link" href="http://theironyard.com">The Iron Yard</a> building a online classroom experience. I’m interested in social inclusion, design systems, cryptocurrencies, and the outdoors.
      p.c-paragraph Currently, I lead design and UI systems at <a class="c-link" href="http://www.divisionoflabor.xyz">Division Of Labor</a> and I'm a partner at <a class="c-link" href="http://coindex.fund">Coindex Fund</a>, a cryptocurrency management service.
      p.c-paragraph Prior to this, I worked as a senior software designer at <a class="c-link" href="https://newline.theironyard.com/">The Iron Yard</a>,<br/>ran a freelance UI agency, and engineered brand experiences at <a class="c-link" href="http://organic.com">Organic</a>.

      //- I make playlists of what I'm listening to at the time and I'm partner at Coindex, a cryptocurrency management service, where I am head of software.
      p.c-paragraph I’m interested in social inclusion, cycling, and the outdoors.
      p.c-paragraph
        span.c-emoji.c-emoji--in-margin 🎉
        &nbsp;&nbsp;Thanks for dropping by. Contact me by email at <a class="c-link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a>. 
