include includes/_head
    
body
  .wrapper.index
    include includes/index/_cover
    //- include includes/index/brand-endorsements
    //- include includes/index/portfolio
    //- include includes/index/contact
    //- include includes/index/thanks

 
  include includes/_closing-scripts