include /includes/_head
    
body
  .c-page
    header.c-wrapper.c-wrapper--light-blue: .c-container
      p.c-paragraph <span class="u-highlight">Hello! <span class="u-subtle">&mdash;</span> My name is Andrew McIntee.</span> I’m a Atlanta-based software designer with specialties in UI design &amp; front-end engineering. 
      p.c-paragraph Formerly at <a class="c-link" href="http://organic.com">Organic</a> and followed by founding a consultancy, I now work with <a class="c-link" href="http://theironyard.com">The Iron Yard</a> building a online classroom experience. I’m interested in social inclusion, design systems, cryptocurrencies, and the outdoors.
      p.c-paragraph
        span.c-emoji 🎉
        &nbsp;&nbsp;Thanks for dropping by. Contact me by email at <a class="c-link" href="mailto:studio@andrew.mn">Studio@Andrew.mn</a>. 
