section.connect {
  background:$c-grey-extradark;
  background-size:cover;
  padding: 160px 0 240px 0;
  color:#fff;
  .container {
    max-width: 620px;
  }
  // text-align: center;
  h2 {
    color:$c-yellow;
  }
  a.btn {
  	color:#fff;
    width: 100%;
  	background:$c-grey-extradark;
  	border:none;
  	&:hover {
  		background:$c-yellow;
  		color: $c-grey-extradark;
  	}
  }
  .social {
    // float: right;
    text-align: center;
    padding: 20px 0;
    a {
      display: inline-block;
      padding: 14px 8px 0px 8px;
      font-size: 30px;
      color: $c-grey-extradark;
      @include transition-hover;
      &:hover {
        color:$c-yellow;
        transform: scale(1.03);
      }
      &:active {
        color:#fff;
        transform: scale(0.98);
      }
      span { @include seo-text; }
    }
  }
}

@include media($bp-small) {
  section.connect {

    a.btn {
      width: auto;
    }
    .social {
      float: right;
    }
  }
}






