@font-face {
  font-family: "Graphik";
  font-style:normal;
  font-weight:300;
  src: local('Graphik'),
       local('Graphik-Light'),
       url('/assets/fonts/Graphik-Light-Web.woff') format('woff');
}

@font-face {
  font-family:"Graphik";
  font-style:normal;
  font-weight:400;
  src: local('Graphik'),
       local('Graphik-Regular'),
       url('/assets/fonts/Graphik-Regular-Web.woff') format('woff');
}
