@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 300;
  src: local('Graphik'),
       local('Graphik-Light'),
       local('Graphik-Light-Web');
}

@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  src: local('Graphik'),
       local('Graphik-Regular'),
       local('Graphik-Regular-Web');
}
