

section.project-tiles {
	padding: 70px 0;
	.intro {
		text-align: center;
		margin-bottom: 40px;
		margin-top: 00px;
	}
	.brands {
		display: none;
		text-align: center;
	  margin-bottom: 40px;
	  margin-top: 40px;
	  opacity:0.4;
	  @include transition-hover;
	  &:hover { opacity:1; }
	  @include media($bp-medium) {
	  	display: block;
	  }
	}
	.project-listing {
		.project {
			background:$c-grey-light;
			height: 450px;
			display: block;
			margin:1%;
			overflow: hidden;
			text-decoration:none;
			@include transition-hover;
			border-radius: $border-radius;
			.description {
				color:#fff;
				padding:40px;
				h2 {
					@include ff-heading-bold;
					text-transform: none;
					font-size: em(33px);
					text-align: center;
					margin-bottom: 10px;
				}
				p {
					font-size: em(16px);
					line-height: em(30px);
					text-align: center;
					opacity:0.8;
				}
			}
			.preview {
				position: absolute;
				left:6%;
			}
			@include media($bp-medium) {
				.brands {

				}
				.preview {
					left:0;
					right:0;
					margin:0 auto;
				}
			}
			//----------- Layout States
			@include media($bp-large) {
				float: left;
				.preview {
					bottom: -190px;
					left:0;
					right:0;
				}
				&.hero {
					width: 98%;
					height: 360px;
					.description {
						h2 { text-align: left; }
						p { text-align: left; }
						text-align: left;
						width: 400px;
						top:13%;
						left:1%;
					}
					.preview {
						right: 2%;
						bottom: -170px;
						left: auto;
					}
				}
				&.large {
					width: 58%;
				}
				&.medium {
					width: 48%;
				}
				&.small {
					width: 38%;
					.preview {
						bottom: -190px;
						left:6%;
					}
				}
			}
			//----------- Project Specific

			&.project-echo {
				background: #0F1B26 url(/assets/images/projects/echo/hero-bg.jpg);
				h2 { color: #fff; }
				.description { color:#fff; }
			}

			&.project-zenjuries {
				background: #2481b7 url(/assets/images/projects/zenjuries/hero-bg.jpg);
				h2 { color: #fff; }
				.description { color:#fff; }
				.preview {
				  right: -8%;
				  bottom: -20px;
				  left:auto !important;
				}
				&:hover {
					// background-color: darken(#E53A2D, 4%);
				}
			}

			&.project-arkiver {
				background: #333335 url(/assets/images/projects/arkiver/listing-bg.jpg) top left;
				h2 { color: #fff; }
				.description { color:#fff; }
				.preview {
				  // right: -8%;
				  bottom: -40px;
				}
			}

			//----------------------------------
			&:hover {
				transform: scale(1.015);
			}
			&:active {
				transform: scale(0.98);
			}
		}
	}


}
