
& {
	// background: #203340; // custom dark teal
	background:$c-grey-medium url(/assets/images/bg-connect.jpg) center center;
  background-size:cover;
}

//----------Textual
section.copy {
	padding-top:150px;
	padding-bottom: 200px;
	h1 {
		color:#fff;
		text-align: left;
	}
	h2 {
		color: $c-yellow;
	}
	p {
		color:#fff;
		margin-bottom:50px;
		&:last-child { margin-bottom: 0;	}
	}
	@include media($bp-medium) {
		margin-bottom: 80px;
	}
}
