//----------------- Breakpoints & Thangz
$av-namespace: "c-grid";
$av-gutter: 80px;
$av-widths: (1,2,3,4,5,6,7,8,9,10,11,12,13,14);
$av-enable-grid-rev: true;
$av-enable-grid-middle: true;
$av-enable-grid-middle: true;
$av-enable-grid-center: true;
$av-enable-grid-small:  true;
$av-enable-grid-large:  true;

$bp-hand: "(min-width: 501px)";
$bp-lap: "(min-width: 901px)";
$bp-desk: "(min-width: 1201px)";

$av-breakpoints: (
  "hand":   $bp-hand,
  "lap":    $bp-lap,
  "desk":   $bp-desk,
);

$border-radius: 4px;
$font-size: 20px;

//----------------- Colors
$c-tertiary-dark: #69615d;
$c-tertiary-light: #fff9f6;
$c-tertiary: #e1c6bc;
$c-dark: #3f3c46;

$c-light-blue: #f1f9fc;
// $c-light-blue: #eefffc;
$c-secondary: #27c9ff;
$c-primary: #6a5ef5;

// Yellows
$c-yellow: #FFCD01;
$c-yellow-dark: #866D06;

// Neutrals
$c-grey-extradark: #22242C; // #3B3E33
$c-grey-dark: #252A2D; // #3B3E33
$c-grey-medium: #343f48; // #4d4f5d
$c-grey-light: #939499;
$c-grey-extralight: #f8fdff;

$c-system: #fafafa;

//----------------- Type Mixins
$ff-primary: "Graphik", sans-serif;
$ff-secondary: "ff-meta-serif-web-pro", Georgia, "Times New Roman", serif;
