

//----------------- Breakpoints, Susy, & Thangz

// $susy: (
//   // gutters: 1/8,
//   global-box-sizing: border-box,
//   $total-columns: 10; // 10 columns
//   $column-width: 4em; // columns are 4em wide
//   $gutter-width: 1em; // with 1em gutters
//   $grid-padding: 1em; // and 1em padding on the grid container
// );

$bp-small: "min-width: 401px";
$bp-medium: "min-width: 801px";
$bp-large: "min-width: 1201px";

$border-radius: 2px;
$font-size: 20px;

//----------------- Colors

// Green
// $c-green: #3D9D5B;
// $c-green-faded: #909286;
// $c-green: #98C365;

// Yellows
$c-yellow: #FFCD01;
$c-yellow-dark: darken( $c-yellow, 10% );

// Neutrals
$c-grey-extradark: #22242C; // #3B3E33
$c-grey-dark: #363943; // #3B3E33
$c-grey-medium: #32353E;
$c-grey-light: #939499;
$c-grey-extralight: #faf3f2;

//----------------- Type Mixins

$ff-meta-serif: "ff-meta-serif-web-pro", Georgia, "Times New Roman", serif;
$ff-minion-pro: "minion-pro", Georgia, "Times New Roman", serif;
$ff-futura: "futura-pt", Helvetica, Arial, sans-serif;
$ff-freight-sans: "freight-sans-pro", Helvetica, Arial, sans-serif;
// $ff-social: "social", Helvetica, Arial, sans-serif;

@mixin ff-heading-light {
  font-family: $ff-freight-sans;
  font-weight: 400;
  font-style: normal;
}
@mixin ff-heading-medium {
  font-family: $ff-freight-sans;
  font-weight: 500;
  font-style: normal;
}
@mixin ff-heading-bold {
  font-family: $ff-freight-sans;
  font-weight: 600;
  font-style: normal;
}

// @mixin ff-label {
//   font-family: $ff-freight-sans;
//   font-weight: 500;
//   font-style: normal;
// }

@mixin ff-body-bold {
  font-family: $ff-meta-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin ff-body {
  font-family: $ff-meta-serif;
  font-weight: 400;
  font-style: normal;
}

//----------------- Misc Presets

@mixin transition-hover {
  transition-duration: 0.3s;
  transition-property: visibility, opacity, color, border, background, padding;
}

@include keyframes(introFade-top) {
  0% {
    opacity: 0;
    transform:translate3d(0, 50px, 0);
  }
  100% {
    transform:translate3d(0, 0px, 0);
    opacity: 1;
  }
}
@include keyframes(introFade-right) {
  0% {
    opacity: 0;
    transform:translate3d(-70px, 0, 0);
  }
  100% {
    transform:translate3d(0, 0px, 0);
    opacity: 1;
  }
}
@include keyframes(introFade-left) {
  0% {
    opacity: 0;
    transform:translate3d(70px, 0, 0);
  }
  100% {
    transform:translate3d(0, 0px, 0);
    opacity: 1;
  }
}
