//------------- Setup

@import "./bower_components/normalize-css/normalize";
@import "utils";
@import "vars";
@import "fonts";
@import "./bower_components/avalanche-css/avalanche";
@import "utility.spacing";

img { width: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  box-sizing: border-box;
  color: $c-dark;
  min-height: 100%;
  width: 100%;
  background: #ffffff;
  color: #4d4f5d;
  font: 500 18px/1.8 $ff-primary;
}

.page {
  background: #ffffff;
  padding: 0;

  &--has-footer {
    @include elevation(3);
    margin-bottom: 300px;
  }
}

.wrapper {
  padding: 140px 20px;
  margin: 0;

  @include media($bp-medium) {
    // margin: 0 2%;
    padding-left: 6%;
    padding-right: 6%;
  }

  @include media($bp-large) {
    padding-left: 8%;
    padding-right: 8%;
  }

  &--header {
    // padding: 200px 0;
    min-height: 300px;
    padding-top: 200px;
    padding-bottom: 70px;
    // @include media($bp-medium) {
    //   padding: 120px 2% 200px;
    // }
  }

  &--footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding-bottom: 100px;
  }

  &--slim {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--slimmest {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &--flush {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--light-blue { background: $c-light-blue; }
  &--light { background: $c-tertiary-light; }
}

.container {
  @include clearfix;
  max-width: 1500px;
  margin: auto;
  &--centered { text-align: center; }
}

.navigation {
  @include clearfix;
  @include elevation(1);
  position: fixed;
  padding: 20px 2%;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(#ffffff, 0.98);
  z-index: 2000;

  &__link,
  &__breadcrumb {
    color: grey;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font: 600 10px/1 $ff-primary;
  }

  &__link {
    float: right;
  }

  &__breadcrumb {
    float: left;
  }
}

.title {
  letter-spacing: 0.5px;
  margin: 0 0 10px;

  &--xlarge {
    font: 600 42px/1.8 $ff-primary;
  }

  &--large {
    font: 600 26px/1.8 $ff-primary;
    margin: 0 0 20px;
    letter-spacing: 0;
  }

  &--medium {
    font: 600 20px/1.8 $ff-primary;
  }

  &--small {
    font: 600 16px/1.8 $ff-primary;
    letter-spacing: 0;
  }

  &--smallest {
    font: 500 15px/1.8 $ff-primary;
    letter-spacing: 0;
  }

  &--label {
    color: grey;
    font: 500 10px/1.2 $ff-primary;
    letter-spacing: 1px;
    text-transform: uppercase;
    // border: 1px solid grey;
    display: inline-block;
    // padding: 7px 10px 5px;
    // border-radius: $border-radius;
  }
}

.image {
  // padding: 40px 0 0 40px;
  // border-radius: $border-radius;
  // background: $c-light-blue;
  // margin: 0 0 60px;
  // overflow: hidden;
  // height: 400px;
  // position: relative;

  // img {
  //   width: calc(100% - 40px);
  // }
}

.paragraph {
  padding: 0;
  margin: 0 0 25px 0;
  max-width: 640px;
  color: #4d4f5d;
  font: 500 20px/1.8 $ff-secondary;

  &--small {
    font-size: 13px;
    margin: 0 0 10px 0;
  }

  &--medium {
    font-size: 14px;
  }

  &--sans {
    font-family: $ff-primary;
  }
}

.link {
  $faded-color: rgba($c-tertiary, 0.4);

  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: $c-grey-medium;
  white-space: nowrap;
  position: relative;
  transition: all 0.1s ease-in-out;

  &::before {
    height: 1px;
    width: 100%;
    bottom: 5px;
    transform: translateY(10px);
    background: $faded-color;
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    color: $c-primary;
    background: #ffffff;

    &::before {
      transform: translateY(8px);
      background: $c-primary;
    }
  }

  &--focal {
    // display: inline-block;
    font-size: 16px;

    &::after {
      content: "\2192";
      margin: 0 0 0 2px;
      color: $faded-color;
      transition: all 0.1s ease-in-out;
    }

    &:hover::after {
      margin: 0 0 0 6px;
      color: $c-primary;
    }
  }
}

.browser {
  border-radius: $border-radius;
  padding: 26px 0 0;
  position: relative;
  background: #e7e7e9;
  overflow: hidden;

  &::after {
    position: absolute;
    top: 10px;
    background: rgba(#000000, 0.1);
    height: 6px;
    right: 10px;
    width: 10px;
    border-radius: $border-radius;
    content: "";
  }

  &::before {
    position: absolute;
    top: 6px;
    left: 8px;
    background: #ffffff;
    height: 14px;
    width: calc(100% - 36px);
    border-radius: ($border-radius / 2);
    content: "";
  }

  &__content {
    width: 100%;
  }

  &--medium {
    height: 400px;
  }
}

// h2 {
//   margin-bottom: 60px;
//   border-bottom: 1px dashed rgba($c-tertiary, 0.4);
// }

// h3 {
//   font: 600 16px/1.8 $ff-primary;
//   margin: 0;
//   // color: $c-primary;
// }

// h4 {
//   font: 400 12px/1.8 $ff-primary;
//   margin: 0;
//   color: $c-primary;
// }

.list {
  margin: 0 0 20px;
  padding: 0;
  list-style: none inside;

  .list__item {
    font-size: 14px;
    line-height: 1.5;
    display: flex;
    margin: 0 0 5px 0;
    &:before {
      content: "- ";
      color: $c-grey-light;
      margin: 0 8px 0 0;
    }
  }

  &--small .list__item {
    font-size: 12px;
  }
}

.focal {
  color: $c-primary;
}

.subtle {
  color: $c-tertiary;
}

small,
.small {
  color: rgba($c-tertiary-dark, 0.6);
  font: 500 11px/1.8 $ff-primary;
  margin-left: 14px
}
