//------------- Setup

@import "./bower_components/normalize-css/normalize";
@import "utils";
@import "vars";
@import "fonts";
@import "./bower_components/avalanche-css/avalanche";

body {
  box-sizing: border-box;
  color: $c-dark;
  min-height: 100%;
  width: 100%;
  font: 500 18px/1.8 $ff-primary;
}

.wrapper {
  margin: 0 5%;
  padding: 120px 0;

  &--header {
    padding: 120px 0;
    min-height: 300px;
  }

  &--slim {
    padding: 60px 0;
  }

  &--light-blue {
    background: $c-light-blue;
    padding-left: 50px;
    padding-right: 50px
  }
}

.container {
  @include clearfix;
  max-width: 1500px;
  margin: auto;
}

.title {
  margin: 0 0 10px;

  &--large {
    font: 400 28px/1.8 Graphik, sans-serif;
  }

  &--medium {
    font: 400 22px/1.8 Graphik, sans-serif;
  }

  &--label {
    color: $c-primary;
    font: 500 11px/1.2 Graphik, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
  }
}

.image {
  padding: 40px 0 0 40px;
  border-radius: $border-radius;
  background: $c-light-blue;
  margin: 0 0 60px;
  overflow: hidden;
  height: 400px;
  position: relative;

  img {
    width: calc(100% - 40px);
  }
}

.paragraph {
  padding: 0 0 25px 0;
  margin: 0;
  max-width: 640px;

  &--small {
    font-size: 12px;
    color: $c-tertiary;
  }

  &--medium {
    font-size: 14px;
  }
}

.link {
  $faded-color: rgba($c-tertiary, 0.4);

  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: $c-grey-medium;
  white-space: nowrap;
  position: relative;
  transition: all 0.1s ease-in-out;
  padding: 2px 0px;

  &::before {
    height: 1px;
    width: 100%;
    bottom: -1px;
    background: $faded-color;
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    color: $c-primary;
    background: #ffffff;

    &::before {
      transform: translateY(4px);
      background: $c-primary;
    }
  }

  &--focal {
    display: inline-block;
    font-size: 16px;

    &::after {
      content: "\2192";
      margin: 0 0 0 2px;
      color: $faded-color;
      transition: all 0.1s ease-in-out;
    }

    &:hover::after {
      margin: 0 0 0 6px;
      color: $c-primary;
    }
  }
}

.browser {
  border-radius: $border-radius;
  padding: 26px 0 0;
  position: relative;
  height: 400px;
  background: #e7e7e9;
  overflow: hidden;
  // margin: 400px;

  &::after {
    position: absolute;
    top: 10px;
    background: rgba(#000000, 0.1);
    height: 6px;
    right: 10px;
    width: 10px;
    border-radius: $border-radius;
    content: "";
  }

  &::before {
    position: absolute;
    top: 7px;
    left: 8px;
    background: #ffffff;
    height: 12px;
    width: calc(100% - 36px);
    border-radius: $border-radius;
    content: "";
  }

  &__content {
    width: 100%;
  }
}

// h2 {
//   margin-bottom: 60px;
//   border-bottom: 1px dashed rgba($c-tertiary, 0.4);
// }

// h3 {
//   font: 600 16px/1.8 Graphik, sans-serif;
//   margin: 0;
//   // color: $c-primary;
// }

// h4 {
//   font: 400 12px/1.8 Graphik, sans-serif;
//   margin: 0;
//   color: $c-primary;
// }

ul {
  margin: 10px 0 60px;
  padding: 0;
  list-style: none inside;

  li {
    font-size: 14px;
    display: flex;
    &:before {
      content: "- ";
      color: $c-grey-light;
      margin: 0 8px 0 0;
    }
  }
}

.focal {
  color: $c-primary;
}

.subtle {
  color: $c-tertiary;
}

small,
.small {
  color: rgba($c-tertiary-dark, 0.6);
  font: 500 10px/1.8 Graphik, sans-serif;
  margin-left: 14px
}
